@media all and (min-width:960px) and (max-width:1024px) {
.header_area {
width:90%;
margin:0 auto
}
.header_left a img {
width:260px
}
.header_right {
width:70%
}
.login_section {
width:220px
}
.chat_section {
width:245px
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:340px
}
.follow_section {
width:90%
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
text-align:center;
width:100%
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.mjs_area {
margin-left:7%
}
.job_area {
width:90%;
margin:0 auto
}
.job_inner {
margin:0 auto;
width:90%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
margin:0 auto;
width:90%
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:85%
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%
}
.content_area {
width:90%
}
.content_inner {
width:100%
}
.content_left {
width:45%
}
.content_right {
width:48%
}
.poll {
width:50%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
.double_breadcrumbs {
position:relative;
top:12px
}
.browse_right {
float:left;
margin:60px 0 0!important
}
.bread-crumb, .refine-fix {
margin:0;
position:relative
}
.bread-crumb {
top:-10px
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
.products {
width:98%;
float:left
}
#productDetails>table {
width:100%!important;
float:left
}
.product-button_responsive {
float:left;
margin:3px 0
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
#listingsResults, .results-paging {
width:72%;
float:right
}
.products {
margin:15px 0;
padding:10px 1%
}
#listingsResults {
margin:25px 0 0
}
.results-paging #listings_per_page_form {
width:auto
}
.noRefine .listingInfo {
float:right;
width:74%
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:180px!important
}
.header-page {
float:right;
padding:6px 0;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
.longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
.header-user-menu span {
float:left
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
.page_button {
display:inline-block!important;
width:100%
}
#langSwitcherForm {
margin-right:0!important
}
.narrow-col .displayFieldBlock h3 {
width:30%;
text-align:left
}
.inputName {
width:30%
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
.my-account-head {
margin:0 0 20px
}
.my-account {
margin-top:0
}
.#adSpaceAccount {
float:left;
width:38%
}
#adSpaceAccount p a, #adSpaceAccount p img {
width:100%;
float:left
}
#adSpaceAccount p a img {
width:auto;
float:left
}
#recentlyViewedJobs {
float:left;
width:50%;
margin:5px 0
}
.my-account-head h1 {
padding:0
}
.site-map h1 {
margin-left:6px
}
.site-map {
width:90%!important;
margin:0 auto
}
#sub-accounts fieldset .inputField input[type=password] {
width:350px!important
}
.builder-col-wide {
width:100%;
float:left
}
#registr-form {
margin-left:5px
}
.soc_reg_form {
margin-top:0
}
.sbOptions {
width:auto!important;
margin-right:5px!important;
right:-13px
}
#adMargin {
float:left;
width:65%
}
#adMargin fieldset {
margin:0 0 10px
}
#adSpace {
float:right;
width:34%
}
.salary-abbr {
width:60%;
float:left
}
.salary-abbr input {
display:inline-block;
width:39%!important;
float:left
}
.employer {
width:100%!important;
float:left
}
.instr_arrow {
left:1px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
margin-top:10px
}
.instruction .instr_icon {
float:left!important
}
#complexFields_WorkExperience .instruction .instr_icon {
clear:both
}
#complexFields_WorkExperience #instruction_StartDate {
display:block;
float:left;
width:auto
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
.priorityListing .listing-title {
padding:15px 10px 12px 0
}
#employers_selected_list input[type=text] {
width:240px!important
}
.ui-widget-overlay {
width:100%!important
}
#messageBox #loginForm fieldset .inputField input[type=checkbox], #messageBox #loginForm fieldset .inputField label {
float:left!important
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm .inputField input[type=password], #messageBox #loginForm .inputField input[type=text] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:99%
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%
}
#messageBox>iframe {
width:100%!important;
height:500px!important
}
#pm_send_form fieldset .inputField .cke_browser_gecko {
display:none!important
}
#pm_send_form fieldset .inputField textarea {
display:block!important;
height:150px!important;
visibility:visible!important;
width:95%
}
.ui-dialog-content.ui-widget-content {
max-width:95%!important
}
#messageBox .inputName {
width:100%!important
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important
}
#loginForm input[type=text], input[type=password] {
width:350px!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:52%!important;
top:50%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:34%!important;
top:50%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:53%!important;
top:47.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:34%!important;
top:47.5%!important
}
.ui-dialog {
max-width:97%!important;
max-height:95vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:59vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:85vh!important;
overflow:auto
}



/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}

#grayBgBanner .banner{ float:none !important;}




}
