@media all and (min-width:769px) and (max-width:800px) {
.inner {
margin-left:0;
width:225px;
padding:0;
float:left;
top:0;
left:20px;
position:absolute
}
#loginForm label {
float:left;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
.nav ul {
display:none
}
#mobile_menu {
display:block!important;
width:40px;
height:40px;
cursor:pointer;
position:absolute;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center;
top:5px
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu {
position:absolute;
top:40px;
margin-left:6px
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left;
text-decoration:none
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu>ul>li {
margin-left:0
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left a img {
width:260px
}
.header_right {
width:70%
}
.login_section {
width:220px
}
.chat_section {
width:245px
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:40%
}
.follow_section {
width:100%;
float:left
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
text-align:center;
width:100%
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area, .upload_area, .visitor_area {
margin-left:3%
}
.job_area {
width:90%;
margin:0 auto
}
.job_inner {
margin:0 auto;
width:100%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.gallery_area ul li {
margin:0 3% 0 0
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:100%
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:94%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.content_right {
width:100%;
float:left
}
.content_right h1 {
text-align:left
}
.content_right h1>br {
display:none
}
.right_followus {
float:none
}
.feed_text, .video_area {
float:left
}
.feed_text {
width:55%
}
.poll {
width:28%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
.inputName, .inputReq {
width:auto;
float:left
}
.inputName {
text-align:left;
margin:0
}
.inputField, .inputReq {
margin:0
}
.inputField input[type=text], .inputField input[type=password] {
width:100%;
float:left;
padding:9px 0;
text-indent:5px
}
.fieldset_inner {
width:100%;
float:left;
margin:1px 0
}
.fieldset_inner>.inputName {
width:auto;
text-align:left;
float:left;
margin:0
}
.fieldset_inner>.inputField {
width:100%;
text-align:left;
float:left;
margin:0
}
.banner {
float:left; width:100%;
}
#grayBgBanner .banner a img {
width:100%!important;
float:left
}
.products {
width:98%;
float:left;
margin:15px 0;
padding:10px 1%
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
.productInfo {
width:auto
}
#adMargin {
float:left;
width:100%
}
#searchType-keywords, .searchGeoDistance {
color:#484846;
float:left;
width:auto
}
#addListingForm .small_width {
width:83%!important
}
#addListingForm .inputName {
padding:0;
width:auto!important
}
#addListingForm .inputReq {
width:20%!important
}
.salary-abbr {
float:left;
width:63%
}
.salary-abbr input {
display:inline-block;
width:46%!important;
float:left;
padding:9px 0!important;
text-indent:5px
}
#DesiredSalary_list, #Salary_list {
float:right;
width:35%;
margin-right:7px
}
#adSpace, .inputField>#keep {
float:left
}
.inputForm .searchList, .searchList, select {
width:100%;
margin-left:0
}
#adSpace {
width:100%
}
#adSpace p {
padding:5px 10px
}
#search_form .inputField {
display:inline-block;
text-align:left;
width:100%
}
.ui-multiselect {
min-height:36px;
padding:7px 5px 5px!important;
width:100%!important
}
#loginForm {
margin-left:5px 0
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
#edit_profile_form fieldset .inputName {
width:auto!important;
margin:0
}
#edit_profile_form fieldset .delete_profile_btn, #edit_profile_form fieldset .save_profile_btn {
width:auto!important;
margin-right:0!important
}
#edit_profile_form fieldset .inputReq {
width:auto!important
}
#edit_profile_form fieldset .save_profile_btn {
clear:none
}
#edit_profile_form .searchList select, #edit_profile_form fieldset .inputField input[type=password], .add_listing_form, .inputForm .searchList, .searchList {
width:100%!important
}
.add_listing_form {
float:left;
margin:0!important;
text-align:left!important
}
#edit_profile_form #Location_Country select, #edit_profile_form #Location_State select, .listing_search_form {
width:100%;
float:left
}
#edit_profile_form #Location_Address, #edit_profile_form #Location_City input, #edit_profile_form #Location_ZipCode, #edit_profile_form #PhoneNumber {
width:100%;
float:left;
margin-left:0
}
.listing_search_form {
margin:0!important
}
#complexFields_Education, #complexFields_WorkExperience fieldset .inputField .ui-datepicker-trigger, .add {
text-align:left!important;
float:left
}
#complexFields_WorkExperience .displayDate {
width:94%!important
}
#activation_date_notmore, #search_listing_form #activation_date_notless {
width:40%!important
}
.complex {
border-bottom:1px dotted #727272;
display:block;
padding:10px 0;
width:100%
}
.searchActDate {
float:none!important
}
#search_listing_form fieldset .inputField {
width:100%!important
}
.invoice_srch_frm {
margin:0!important
}
#date_notless, #date_notmore {
width:40%!important;
margin:5px 0
}
#col-wide, #col-wide .displayField, #displayListing #refineResults, .after-quick-links, .narrow-col {
width:100%;
float:left
}
#col-wide .displayField {
padding:0
}
.after-quick-links {
margin:20px 0 0
}
#displayListing #listingsResults {
float:left;
width:100%;
margin-left:0
}
.listingInfo {
margin-left:0;
position:relative
}
#col-wide {
margin:10px 0 0
}
#col-wide .displayFieldBlock h3 {
text-align:center;
margin:0
}
.listingInfo fieldset {
text-align:left!important
}
.compProfileTitle {
text-align:center;
font-size:18px
}
.narrow-col {
margin:0!important
}
.narrow-col .displayField {
width:60%;
float:right;
text-align:left!important
}
.sortable-column {
margin:0
}
.alert_form fieldset .alert_save_btn {
margin:0!important;
width:auto!important;
clear:none
}
.alert_form fieldset .alert_back_btn {
margin-right:0!important;
width:auto!important
}
.narrow-col .displayFieldBlock h3 {
padding:5px 0 5px 8px;
text-align:left;
width:30%
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:180px!important
}
.header-page {
float:right;
padding:6px 5px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
.header-user-menu span, .longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
.table_div>p>a, a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
.paymentButton {
margin-left:1%
}
#langSwitcherForm {
margin-right:0!important
}
.footer_bottom span {
display:inline-block;
float:none;
margin-right:0;
margin-top:0
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
.instruction .instr_icon {
clear:both
}
#instruction_DesiredSalary, #instruction_ZipCode {
float:left
}
.instr_arrow {
left:-2px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:57px;
margin-top:10px
}
.refine_button {
float:none!important;
margin:0!important
}
#complexFields_Education, #complexFields_WorkExperience {
width:100%!important
}
#editListingForm .inputName, #editListingForm .inputReq {
width:auto!important
}
.small_width {
clear:both
}
#editListingForm .tree-input-field {
width:100%!important;
margin:9px 0 10px
}
.page_button {
display:inline-block!important;
width:100%
}
.complex>.inputName, .inputField {
display:block;
float:none
}
.complex>.inputReq {
width:auto!important;
float:left
}
.add_listing_form .inputName {
width:auto!important;
padding:0!important
}
.add_listing_form .inputReq {
padding:0!important
}
.add_listing_form .inputName, .inputField {
display:block;
clear:both;
float:left!important;
width:%
}
#editListingForm .add_listing_form .inputField {
width:100%
}
#applicationFilter select {
float:none!important
}
.phrases-per-page.perPage {
float:right
}
#addListingForm .add_listing_form .small_width {
width:52%!important
}
.BreadCrumbs p {
margin-left:5px
}
.double_breadcrumbs {
position:relative;
top:12px
}
.browse_right {
float:left;
margin:60px 0 0!important
}
.refine-fix {
margin:0;
position:relative
}
.results {
float:none!important;
margin:25px 0 0!important
}
.bread-crumb {
margin:0;
position:relative;
top:-10px
}
.alert_form fieldset .searchString {
width:100%!important;
margin-right:0!important
}
.total_exp .searchIntegerLess, .total_exp .searchIntegerMore {
float:left;
width:45%!important
}
.total_exp .to {
float:left;
padding:0 5px;
margin-top:10px!important
}
.my-account-head {
margin:0 0 20px
}
.my-account {
margin-top:0
}
.my-account-head h1 {
padding:0
}
.#adSpaceAccount {
float:left;
width:38%
}
#adSpaceAccount p img {
width:100%;
float:left
}
#adSpaceAccount p a img {
width:auto;
float:none;
clear:both
}
#recentlyViewedJobs {
float:left;
width:50%;
margin:5px 0
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
#suggestedJobs {
margin:5px 0
}
.site-map h1 {
margin-left:6px
}
.site-map {
width:90%!important;
margin:0 auto
}
#sub-accounts fieldset .inputField input[type=password] {
width:350px!important
}
#registr-form {
margin-left:5px
}
.soc_reg_form {
margin-top:0
}
.cke_chrome {
visibility:inherit;
width:100%!important
}
#productDetails>table {
width:100%!important;
float:left
}
.product-button_responsive {
float:left;
margin:3px 0
}
.app_table table, .contacts_tbl table, .edit_saved_search_tbl table, .invoice_tbl table, .jobalerts_table table, .products_table table, .searchresultscompany_tbl table, .table_div table {
margin-bottom:10px
}
.formtable tbody tr td {
float:left!important;
width:86%
}
.questionnaire fieldset .inputField .searchList {
width:100%!important
}
.sbOptions {
width:auto!important;
margin-right:5px!important;
right:-13px
}
.srh_by_company {
width:100%;
float:left;
margin:5px!important
}
.bcField {
width:70%
}
.bcField input[type=text] {
width:97%
}
.noRefine .listingInfo, .results .listingInfo {
float:right;
width:70%
}
.topNavBar .numberPerPage #listings_per_page_form, .topNavBar .numberPerPage .listings_per_page_form {
float:none;
width:0
}
.userInfo {
float:left;
width:185px!important
}
.compProfileInfo {
float:left;
width:auto!important
}
#listingsResults, #refineResults-block, .results-paging {
width:100%;
float:left
}
#listingsResults {
margin:25px 0 0
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
.priorityListing .listing-title {
padding:15px 10px 12px 0
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
margin:5px 0 0
}
.company-fix .listingInfo {
width:58%;
float:left;
text-align:left
}
.topNavBar {
padding:15px 0
}
#promotionCode {
margin:0;
width:100%
}
.continue-shopping {
float:left;
margin:0 2px
}
.printPage {
width:98%!important
}
.printRight, .printRight h1 {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
#col-wide .displayField {
margin:2px 0 22px
}
.employer {
width:100%!important;
float:left
}
#custom .tree-input-field {
margin:0 0 10px;
width:52%
}
#access_div>div {
float:left
}
.mt-count-available {
padding:16px 0 0 10px
}
.link_space {
margin-bottom:3%;
display:inline-block
}
#employers_selected_list input[type=text] {
width:235px!important
}
#employers_selected_list #employers_for_select {
width:230px!important
}
#employers_selected_list #employers_selected {
width:200px!important
}
#messageBox #loginForm fieldset .inputField input[type=text], #messageBox>iframe, .ui-widget-overlay {
width:100%!important
}
#messageBox>iframe {
height:500px!important
}
#messageBox #loginForm fieldset .inputField input[type=checkbox], #messageBox #loginForm fieldset .inputField label {
float:left!important
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%!important
}
#messageBox #loginForm .inputField input[type=text], #messageBox #loginForm .inputField input[type=password] {
float:left;
width:99%!important
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%!important
}
#messageBox #flagForm .inputField input[type=text], #messageBox #flagForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:99%!important
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%!important
}
#pm_send_form fieldset .inputField .cke_browser_gecko {
display:none!important
}
#pm_send_form fieldset .inputField textarea {
display:block!important;
height:150px!important;
visibility:visible!important;
width:95%
}
.ui-dialog-content.ui-widget-content {
max-width:100%!important
}
#messageBox .inputName {
width:100%!important
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:29%!important;
top:59%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:1%!important;
top:59.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:26%!important;
top:57%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:1%!important;
top:57%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
float:left!important;
left:4.4%!important;
width:45.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-find-jobs {
float:left!important;
left:1.2%!important;
width:64.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-edit-listing {
float:left!important;
left:2%!important;
width:46%!important
}
.ui-dialog {
max-width:97%!important;
max-height:95vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:59vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:76vh!important;
overflow:auto
}


/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}

#grayBgBanner .banner{ float:none !important;}







}
