@media all and (min-width:569px) and (max-width:768px) {
#mobile_menu, .inner, .mobile_menu {
position:absolute
}
.app_table th a, .job_states th a, .mobile_menu ul li a, table tr th a {
text-decoration:none
}
.inner {
margin-left:0;
width:225px;
padding:0;
float:left;
left:20px;
top:0
}
.nav ul {
display:none
}
.ui-tabs-nav li {
width:33%;
border-right:1px solid #000!important
}
#mobile_menu {
display:block!important;
width:40px;
height:40px;
cursor:pointer;
top:5px;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu {
top:40px;
margin-left:6px
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu>ul>li {
margin-left:0
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left {
width:35%
}
.header_left a img {
width:260px
}
.header_right {
width:60%
}
.login_section {
width:220px
}
.chat_section {
width:245px
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:37%
}
.follow_section {
width:100%;
float:left
}
.follow_section h6 {
margin-right:9%
}
.seeker {
margin-bottom:3%;
width:45%
}
.search_section {
width:50%
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
text-align:center;
width:100%
}
.content_right h1, .inputName {
text-align:left
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area, .upload_area, .visitor_area {
margin-left:0;
width:30%
}
.job_area, .job_inner {
margin:0 auto
}
.job_area {
width:90%
}
.job_category, .job_inner {
width:100%
}
.job_category ul li {
width:40%
}
.job_location {
width:100%
}
.job_location ul li {
width:40%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.gallery_area ul li {
margin:0 4% 0 0;
width:21%
}
.gallery_area ul li img {
width:100%
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:100%
}
.signup_back {
width:33%
}
.signup_back input[type=text] {
width:87%!important
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.medium_col {
width:75%
}
.right_col {
height:120px;
width:43px
}
.membership_Section {
padding:5% 0
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner, .membership_inner ul li {
width:100%
}
.membership_inner ul li p {
float:left;
width:90%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:96%;
margin:0 0 20px 2%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.content_right {
width:100%;
float:left
}
.content_right h1>br {
display:none
}
.right_followus {
float:none
}
.video_area {
float:left
}
.feed_text {
float:left;
width:45%
}
.poll {
width:37%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
table tbody li {
margin:0
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
#grayBgBanner .banner a img {
width:100%
}
.inputField, .inputName {
float:left;
width:100%;
margin:0
}
.inputField input[type=text], .inputField input[type=password] {
width:100%;
float:left;
padding:9px 0;
text-indent:5px
}
.fieldset_inner {
width:100%;
float:left;
margin:1px 0
}
.fieldset_inner>.inputName, .inputField {
width:100%;
text-align:left;
float:left;
margin:5px 0
}
.double_breadcrumbs {
position:relative;
top:12px
}
.browse_right {
float:left;
margin:60px 0 0!important
}
.bread-crumb, .refine-fix {
margin:0;
position:relative
}
.bread-crumb {
top:-10px
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
.app_table th, .job_states th {
background-color:#585043
}
.products {
margin:15px 0;
padding:10px 1%
}
.productInfo {
width:100%;
float:left;
margin:10px 0
}
.productInfo h3 {
width:100%;
float:left;
text-align:center
}
#shareThis {
width:100%;
float:left;
margin:0 0 0 4px
}
.productInfo p {
width:100%;
text-align:center
}
.productLinks {
padding:15px 0;
text-align:center;
width:100%
}
#productsList .oddrow {
width:98%;
margin:0 %
}
.productLinks .button {
min-width:160px;
display:inline-block;
float:none
}
#adMargin {
float:left;
width:100%
}
#searchType-keywords, .searchGeoDistance {
color:#484846;
float:left;
width:auto
}
#addListingForm .small_width {
width:83%!important
}
#addListingForm .inputName {
padding:0;
width:auto!important
}
#addListingForm .inputReq {
width:20%!important
}
#search_form .inputField {
display:inline-block;
text-align:left;
width:100%
}
.salary-abbr {
float:left;
width:63%
}
.salary-abbr input {
display:inline-block;
width:40%!important;
float:left;
padding:9px 0!important;
text-indent:5px
}
#DesiredSalary_list, #Salary_list {
float:right;
width:35%;
margin-right:7px
}
.inputForm .searchList, .searchList, select {
width:100%;
margin-left:0
}
#adSpace {
width:100%;
float:left
}
#adSpace p {
padding:5px 10px
}
.srh_by_company {
width:100%;
float:left;
margin:5px 0!important;
text-align:left
}
.bcField {
width:100%
}
.bcField input[type=text] {
width:100%;
padding:9px 0;
text-indent:5px
}
.SearchResultsCompany {
width:100%;
float:left
}
.topNavBar .numberPerPage {
margin:0!important
}
.topNavBar .numberResults {
width:auto!important
}
.topNavBar .numberResults span {
float:none!important
}
.topNavBar form {
margin:5px 0!important
}
.SearchResultsCompany .topNavBar .pageNavigation {
margin:5px 0!important;
float:right;
padding:0
}
.results-paging .topNavBar {
padding:15px 0
}
.head {
padding:0
}
.results-paging .head h1 {
width:auto!important;
margin:0
}
.SearchResultsCompany .numberResults {
margin-right:5%
}
.results-paging .topNavBar .numberResults {
width:100%
}
.results-paging .topNavBar .numberResults .sorting {
float:left;
width:100%
}
.results-paging .topNavBar .numberResults .sorting>span {
clear:both!important;
float:right;
width:100%
}
#my-listings-table {
display:none
}
.table_div {
display:block!important
}
#listings_per_page_form {
text-align:center;
width:auto!important;
margin-right:5px!important
}
#listings_per_page_form .listing_text {
margin-right:30px
}
#loginForm .inputField input[type=text], #loginForm .inputField input[type=password] {
float:left;
width:100%
}
.numberPerPage.select-box>span {
float:left
}
.numberPerPage_text_search {
float:left!important;
padding:5px 2px
}
.listings_per_page_form .sbHolder {
float:left
}
#listings_per_page_form .numberPerPage_text {
float:left!important;
width:100%
}
#listingsResults, #refineResults-block, .results-paging {
width:100%;
float:left
}
#listingsResults {
margin:25px 0 0
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
.priorityListing .listing-title {
padding:15px 10px 12px 0
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
margin:5px 0 0
}
.company-fix .listingInfo {
width:56%;
float:right;
text-align:left
}
#googleMap-links {
margin:9px 5px 5px
}
.noRefine .listingInfo {
float:left;
width:100%
}
.topNavBar .numberPerPage #listings_per_page_form, .topNavBar .numberPerPage .listings_per_page_form {
float:left;
width:30px;
margin:0 5px
}
.topNavBar {
color:#1c1c1c;
font-size:13px;
padding:15px 0;
line-height:25px;
margin-left:0;
text-shadow:-1px 0 0 #c2c2c2;
width:100%
}
.results .listingInfo {
float:left;
width:100%
}
#edit_profile_form fieldset .save_profile_btn {
width:auto!important
}
.contact-us {
width:100%;
float:left
}
.contact-us .fix {
width:100%!important;
padding:9px 0
}
.contact-us tbody tr td {
width:100%!important;
float:left!important;
font-size:11px!important;
padding:10px 0!important
}
.contact-us .email_input {
width:100%!important;
padding:9px 0
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
.my-account {
width:100%;
float:left;
margin-top:0;
padding:5px 0
}
.my-account ul {
width:100%;
float:left;
margin:0
}
.my-account ul li {
margin:.2%;
width:32%
}
.my-account-head {
margin:0 0 20px
}
#recentlyViewedJobs, #suggestedJobs {
width:100%;
margin:5px 0;
float:left
}
#adSpaceAccount, #adSpaceAccount p a {
float:left;
width:100%
}
#adSpaceAccount p img {
clear:both;
float:left
}
#adSpaceAccount p a img {
width:auto!important;
float:left
}
.BreadCrumbs {
width:90%;
float:left
}
.BreadCrumbs p {
margin-left:5px
}
#recentlyViewedJobs table thead th, #suggestedJobs table thead th {
padding:10px 0
}
.tableLeft, .tableRight {
padding:5px!important
}
.pointedInListingInfo2 {
width:90%
}
#recentlyViewedJobs .rec-sug-comp-th, #suggestedJobs .rec-sug-comp-th {
width:40%!important
}
.Applications_table .pointedInListingInfo2 {
width:auto
}
#edit_profile_form fieldset .inputName {
width:auto!important;
margin:0
}
#edit_profile_form fieldset .inputReq {
width:auto!important
}
#edit_profile_form fieldset .delete_profile_btn, #edit_profile_form fieldset .save_profile_btn {
width:auto!important;
margin-right:0!important
}
#edit_profile_form .searchList select, #edit_profile_form fieldset .inputField input[type=password], .add_listing_form, .inputForm .searchList, .searchList {
width:100%!important
}
.add_listing_form {
float:left;
margin:0!important;
text-align:left!important
}
#edit_profile_form #Location_Country select, #edit_profile_form #Location_State select, .listing_search_form {
width:100%;
float:left
}
#edit_profile_form #Location_Address, #edit_profile_form #Location_City input, #edit_profile_form #Location_ZipCode, #edit_profile_form #PhoneNumber {
width:100%;
float:left;
margin-left:0
}
.listing_search_form {
margin:0!important
}
#complexFields_Education, #complexFields_WorkExperience, #complexFields_WorkExperience .displayDate {
width:100%!important
}
#complexFields_Education, #complexFields_WorkExperience fieldset .inputField .ui-datepicker-trigger, .add {
text-align:left!important;
float:left
}
#activation_date_notmore, #search_listing_form #activation_date_notless {
width:40%!important
}
.complex {
border-bottom:1px dotted #727272;
display:block;
padding:10px 0;
width:100%
}
.app_table {
width:100%;
margin-left:0;
float:left;
display:block!important
}
.app_table th {
width:45%
}
#table-alerts, .add_edit_note textarea {
width:100%!important
}
.app_table table tbody li {
margin:0 5px 5px 0
}
.app_table th a {
color:#FFF
}
.view_questionnaire {
display:block!important;
clear:both
}
#application-tracking-form .tableSearchResultApplications, .Applications_table, .form-notes #main_note_form {
display:none!important
}
.form-notes {
padding:0
}
.form-notes #note_form, .saved_listings_tbl .saved_listings_note #note_form {
display:block!important
}
.jobalerts_table, .saved_listings_tbl .saved_listings_note #main_note_form {
display:none!important
}
.link_space {
margin-bottom:4%;
display:inline-block
}
.invoice_srch_frm {
margin:0!important
}
#date_notless, #date_notmore {
width:40%!important;
margin:5px 0
}
#col-wide, #col-wide .displayField, #displayListing #refineResults, .after-quick-links, .narrow-col {
width:100%;
float:left
}
#col-wide .displayField {
padding:0;
margin:0
}
.after-quick-links {
margin:20px 0 0
}
#displayListing #listingsResults {
float:left;
width:100%;
margin-left:0
}
.listingInfo {
margin-left:0;
position:relative
}
#col-wide {
margin:10px 0 0
}
#col-wide .displayFieldBlock h3 {
text-align:center;
margin:0
}
.listingInfo fieldset {
text-align:left!important
}
.compProfileTitle {
text-align:center;
font-size:18px
}
.narrow-col {
margin:0!important
}
.narrow-col .displayFieldBlock h3 {
width:30%;
text-align:left;
padding:5px 0 5px 8px
}
.narrow-col .displayField {
width:60%;
float:right;
text-align:left!important
}
.sortable-column {
margin:0
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:200px!important
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
#contactInfo, .button_delete, .paymentButton {
margin-left:1%
}
.header-page {
float:right;
padding:6px 5px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
#instruction_DesiredSalary, #instruction_ZipCode, #loginForm .inputButton input, .header-user-menu span, .longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
#shoppingCartTable tbody tr {
border-top:1px dashed #8c8c8c
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
#notesForm_ textarea {
width:90%!important
}
#contactInfo-in {
width:98%
}
#contactInfo fieldset, .invoice_srch_frm {
text-align:left!important
}
#contactInfo {
width:98%
}
#note-block #notesForm textarea {
width:80%!important
}
#under-contact #note-block {
width:auto
}
#cont-info-sendpm {
float:right!important
}
#edit-questions tbody tr {
border-bottom:1px dashed #8c8c8c
}
#loginForm fieldset {
margin:0!important;
float:left;
width:100%
}
#loginForm label {
float:left;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
#loginForm input[type=checkbox] {
float:left
}
#pm_send_form .inputField input[type=text], #pm_send_form .inputField input[type=password] {
width:100%;
float:left
}
#messageBox .inputButton {
float:left;
margin:-19px 19px 5px 5px;
width:auto!important
}
#messageBox .inputField {
width:100%!important
}
.searchActDate {
float:none!important
}
#loginForm fieldset .inputName {
width:100%
}
.inputStringMoney {
width:47%!important
}
.selectCurrency {
width:48%
}
#application-settings .inputString {
width:315px
}
.inputForm .searchList, .inputReq, .searchList, .searchList select {
width:100%
}
.fieldset_inner .inputName {
padding:0!important;
margin-bottom:0!important
}
.fieldset_inner .inputField {
margin-top:0!important
}
.inputReq {
float:left;
padding:0!important;
margin-left:0!important;
text-align:left
}
.soc_reg_form {
margin-top:0;
margin-left:0
}
.job_seeker_regi {
text-align:left;
margin:0 2px!important
}
.bottum_submit {
float:left;
margin-top:-20px
}
#registr-form fieldset .inputName {
width:auto!important;
margin:0
}
#registr-form fieldset .inputReq {
width:auto!important
}
#registr-form .inputField input[type=password], #registr-form fieldset .inputField .searchList {
width:100%!important
}
.alert_form fieldset .alert_back_btn {
width:auto!important;
margin-right:0!important
}
.alert_form fieldset .alert_save_btn {
width:auto!important;
margin:0!important
}
.total_exp .searchIntegerLess {
float:left;
width:45%!important
}
.total_exp .searchIntegerMore {
float:left;
width:46%!important
}
.total_exp .to {
float:left;
padding:0 5px;
margin-top:10px!important
}
.cke_chrome {
visibility:inherit;
width:95%!important
}
#productDetails>table {
width:100%!important;
float:left
}
.product-button_responsive {
float:left;
margin:3px 0
}
.table_div>p>a {
text-align:center!important
}
.app_table table, .contacts_tbl table, .edit_saved_search_tbl table, .invoice_tbl table, .job_states table, .jobalerts_table table, .products_table table, .searchresultscompany_tbl table, .table_div table {
margin-bottom:10px
}
.saved-search-tbl {
width:65%;
margin-left:1%
}
#edit_questionnaire fieldset, #edit_questions fieldset {
margin:0!important
}
.formtable tbody tr td {
float:left!important;
width:86%
}
.questionnaire fieldset {
width:98%!important;
text-align:left!important
}
#question_field fieldset {
width:100%!important;
float:left!important;
margin:0!important
}
#job_stats {
display:none!important
}
.job_states table tbody tr th {
width:45%
}
.questionnaire fieldset .inputName {
width:auto
}
.questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
.questionnaire p {
margin-left:0!important
}
.questionnaire fieldset .inputField .inputString {
width:100%!important
}
#edit_questionnaire fieldset .inputName {
width:auto
}
#edit_questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questionnaire p {
margin-left:1%!important
}
#question_field fieldset .inputName {
width:auto
}
#question_field fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questions fieldset .inputName {
width:auto
}
#edit_questions fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#answers input[type=text], #answers select {
width:100%
}
#newsCategory {
width:94%;
margin:5px 0;
float:left
}
.contacts_tbl {
display:block!important
}
.citylist, .main_contacts_tbl {
display:none!important
}
.contacts_tbl table {
border:1px solid #000!important
}
.sbOptions {
width:auto!important;
margin-right:5px!important;
right:-13px
}
#cke_form_message {
float:left;
width:97%!important
}
.reply {
margin:2px 0
}
.ui-multiselect {
width:100%!important;
min-height:36px;
padding:7px 5px 5px!important
}
#sub-accounts fieldset .inputName {
width:auto
}
#sub-accounts fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#sub-accounts fieldset .inputField input[type=password] {
width:98%!important
}
.city_list_responsive {
display:block!important;
margin-top:0!important
}
.city_list_responsive>li {
margin:10px
}
.city_list_responsive>li a {
font-weight:700;
font-size:14px
}
#promotionCode {
margin:0;
width:100%
}
.continue-shopping {
float:left;
margin:0 2px
}
.printPage {
width:98%!important
}
.printRight, .printRight h1, .user_notifications {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
.user_notifications>fieldset {
width:99%;
float:left;
margin:0
}
.notCheck, .notDesc {
margin-bottom:10px;
float:left
}
.notCheck {
margin-right:11px;
width:4%
}
.notDesc {
width:90%;
text-align:left
}
.notDescText {
width:40%
}
.notif-date-days {
width:14%!important
}
#displayResults {
display:none!important
}
.invoice_tbl {
display:block!important;
margin-left:1%
}
#invoice-info {
float:left;
text-align:left
}
#invoice-logo {
text-align:center;
margin:0 auto;
width:380px;
float:none!important
}
#invoice-logo IMG {
width:50%;
text-align:center
}
#invoice-billto, #invoice-sendto {
width:96%;
float:left;
margin:0
}
.site-map {
width:90%!important;
margin:0 auto
}
.site-map h1 {
margin-left:6px
}
.site-map table td {
width:30%;
text-align:left;
float:left
}
#uploadForm>fieldset, .site-map table td p a, .site-map table td strong {
text-align:left!important
}
#addListingForm {
float:left!important
}
#exp_date {
float:left;
margin:10px 5px 0 0
}
.instruction .instr_icon {
clear:both
}
.instr_arrow {
left:-2px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:57px;
margin-top:10px
}
.site-map table td p a {
padding:10px 0!important
}
.site-map table td strong {
font-size:16px!important
}
#addListingForm .displayDate, #editListingForm .displayDate {
width:90%!important
}
#editListingForm .inputName {
width:auto!important;
padding:0!important
}
#editListingForm .inputReq {
width:auto!important
}
.instruction .instr_block {
float:left
}
.page_button {
display:inline-block!important;
width:97%
}
#reports, #reports #quick-stats {
width:100%;
float:left
}
#reports #general-stats, #reports-navigation {
width:100%
}
#general-stats tbody tr {
border-bottom:1px dashed #8c8c8c
}
#general-stats tbody tr:last-child {
border:none
}
.job_states {
width:100%;
float:left;
display:block;
margin-left:0
}
.job_states th a {
color:#fff
}
#employers_selected_list input[type=text] {
width:240px!important
}
#employers_selected_list input[id=move_to_selected], #employers_selected_list input[id=remove_from_selected] {
margin-bottom:5px;
padding:10px;
min-width:20px;
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg)
}
#employers_selected_list #move_btns {
text-align:center
}
#employers_selected_list #employers_for_select {
width:96%!important;
float:left;
height:90px
}
#employers_selected_list #employers_selected {
width:96%!important;
float:left;
height:60px
}
#employers_selected_list table tr td {
clear:both;
float:left;
width:100%;
padding:5px
}
.empty {
display:none
}
.ui-widget {
max-width:100%!important;
float:left
}
#messageBox>iframe, .ui-widget-overlay {
width:100%!important
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm .inputField input[type=text], #messageBox #loginForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm .inputField input[type=text], #messageBox #flagForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:99%
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%
}
#messageBox .inputName {
width:100%!important
}
#pm_send_form fieldset .inputField .cke_browser_gecko {
display:none!important
}
#pm_send_form fieldset .inputField textarea {
display:block!important;
height:150px!important;
visibility:visible!important;
width:95%
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important;
width:95%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
float:left!important;
left:5.5%!important;
width:72.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-find-jobs {
float:left!important;
left:2.4%!important;
width:92.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-edit-listing {
float:left!important;
left:1.7%!important;
width:80.5%!important
}
#listings_per_page_form .sbOptions, #sort-by .sbOptions, .listings_per_page_form .sbOptions {
left:-2px;
top:28px!important;
width:100%!important
}
#listings_per_page_form .sbSelector, #sort-by .sbSelector, .listings_per_page_form .sbSelector {
padding:0
}
#listings_per_page_form .sbHolder, .listings_per_page_form .sbHolder {
width:64px;
text-align:center
}
#custom .tree-input-field {
margin:0 0 10px;
width:52%
}
table tbody tr {
border-bottom:medium none
}
.mt-count-available {
font-size:12px;
padding:15px 0 0 10px
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:64%!important;
top:60.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:18%!important;
top:60%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:50%!important;
top:59.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:2%!important;
top:59.5%!important
}
.ui-dialog {
max-width:95%!important;
max-height:92vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:50vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:76vh!important;
overflow:auto
}





/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}













}
