@media all and (min-width:0px) and (max-width:320px) {
.app_table th a, .innerdiv_forall p .button, .job_states th a, .mobile_menu ul li a, .table_div_title>a, table tr th a {
text-decoration:none
}
.inner {
margin-left:0;
width:225px;
padding:0;
float:left;
top:0;
position:absolute;
z-index:9
}
#loginForm label {
float:left;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
#loginForm input[type=checkbox] {
float:left
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%;
display:inline-block
}
.nav ul {
display:none
}
#mobile_menu {
display:block!important;
width:40px;
height:40px;
cursor:pointer;
position:absolute;
top:5px;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center;
left:-8px
}
.mobile_menu {
position:absolute;
top:40px
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu>ul>li {
margin-left:0
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.content_right h1>br, .membership_inner>h1 br {
display:none
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left {
width:100%;
text-align:left
}
#mailchimp-nl-cont, .company_txt, .membership_inner h1 {
text-align:center
}
.header_left a img {
width:260px;
margin-top:15px
}
.header_right {
width:100%;
margin-top:5%
}
.login_section {
width:100%;
border-radius:8px
}
.chat_section {
width:100%
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:100%;
margin:0 0 3%
}
#quickSearchForm input {
width:235px!important
}
.follow_section {
width:100%;
float:left
}
.follow_section h6 {
width:100%;
margin:2% 0 0
}
.follow_us {
float:left;
margin-top:3%
}
.seeker {
margin-bottom:3%;
width:100%
}
.search_section {
width:100%
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
width:100%
}
.company_txt p {
line-height:24px;
padding:5px 0
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area, .upload_area, .visitor_area {
margin:0 0 5%;
width:100%
}
.job_area, .job_inner {
margin:0 auto
}
.job_area {
width:90%
}
.job_category, .job_inner {
width:100%
}
.job_category ul li {
width:49%
}
.job_location {
width:100%
}
.job_location ul li {
width:49%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.gallery_area ul li {
margin:0;
text-align:center;
width:100%
}
.gallery_area ul li img {
width:auto
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:100%
}
#mailchimp-newsletter {
margin:0
}
.signup_back {
width:100%;
margin:0 0 3%
}
.signup_back input[type=text] {
width:87%!important
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.medium_col {
width:90%
}
.right_col {
height:35px;
width:43px;
float:right
}
.membership_Section {
padding:5% 0
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%;
background-position:-20px bottom
}
.membership_inner ul li {
width:100%
}
.membership_inner ul li p {
float:left;
width:85%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:96%;
margin:0 0 20px 2%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.feed_text, .video_area>img {
width:100%
}
.content_right {
width:100%;
float:left
}
.content_right h1 {
text-align:left
}
.productInfo h3, .productInfo>a {
text-align:center
}
.right_followus {
float:none
}
.video_area {
float:left
}
.feed_text {
float:left;
margin-bottom:2%
}
.poll {
width:93%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
.breadcrumb_height, .search_results_breadcrumbs {
height:80px!important
}
.footer_inner {
padding:10% 0;
width:100%
}
.footer_nav ul li {
display:inline-block;
width:100%
}
.footer_nav ul li a {
border-right:none
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
table tbody li {
margin:0
}
.app_table table, .contacts_tbl table, .edit_saved_search_tbl table, .general_states table, .invoice_tbl table, .job_states table, .jobalerts_table table, .products_table table, .saved_listings_tbl table, .searchresultscompany_tbl table, .shopping_cart table, .sub_accounts table, .table_div table {
margin-bottom:10px
}
.tree-input-field {
margin:9px 0 10px;
width:250px
}
.inputField input[type=text], .inputField input[type=password] {
width:100%;
float:left
}
.inputField, .inputName {
float:left;
width:100%;
margin:0
}
.inputButton {
float:left;
margin:0 19px 5px 5px;
width:auto
}
.productInfo, .productInfo h3, .productInfo>a, .products {
width:100%;
float:left
}
input[type=text], input[type=password] {
padding:9px 0;
text-indent:5px
}
.double_breadcrumbs {
position:relative;
top:35px
}
.browse_right {
float:left;
margin:85px 0 0!important
}
.noRefine_breadcrumbs {
position:relative;
top:5px
}
.browse {
float:left;
margin:-22px 0 5px
}
.bread-crumb, .refine-fix {
margin:0;
position:relative
}
.bread-crumb {
top:-10px
}
.no_breadcrumb {
height:50px!important
}
.edit_questions_breadcrumbs {
margin:70px auto 0;
float:left
}
.results {
margin:25px 0 0!important;
float:none!important
}
.productInfo {
margin:10px 0
}
.productInfo>a {
margin-top:10px
}
#productsList .evenrow {
width:90%
}
#shareThis {
width:98%;
float:left;
margin:8px 0 20px
}
.productInfo p, .productLinks {
width:100%;
text-align:center
}
.productLinks {
padding:15px 0
}
#productsList .oddrow {
width:90%
}
..productLinks .button {
display:inline-block;
float:none;
text-align:center
}
#adMargin {
float:left;
width:100%!important
}
#adMargin>fieldset, .builder-col-wide {
width:100%;
float:left
}
.search_form {
width:100%!important;
float:left
}
#loginForm .inputField input[type=text], #loginForm .inputField input[type=password], #search_form .inputField input[type=password] {
width:100%;
padding:9px 0;
float:left
}
#search_form .inputField input[type=text] {
width:100%;
float:left;
padding:9px 0;
text-indent:5px
}
#loginForm fieldset {
margin:0!important
}
#messageBox .inputField {
width:100%!important
}
.reply .inputField input[type=text], .reply .inputField input[type=password] {
width:100%;
float:left
}
#edit_profile_form fieldset .inputName {
width:auto!important;
margin:0
}
#edit_profile_form fieldset .inputReq {
width:auto!important
}
#edit_profile_form fieldset .delete_profile_btn, #edit_profile_form fieldset .save_profile_btn {
width:auto!important;
margin-right:0!important
}
.fieldset_inner .inputName {
padding:0!important;
margin-bottom:0!important
}
.fieldset_inner .inputField {
margin-top:0!important
}
.inputReq {
width:100%;
float:left;
padding:0!important
}
.soc_reg_form {
margin-top:0
}
.inputForm .searchList, .searchList, .searchList select {
width:100%
}
.fieldset_inner {
width:100%;
float:left;
margin:1px 0
}
#Location_Address, #Location_City, #Location_Country, #Location_State, #Location_ZipCode, .fieldset_inner>.inputName, .inputField {
width:100%;
float:left;
margin:5px 0
}
#Location_City input {
width:100%;
float:left;
margin:0
}
#Location_Address, #Location_ZipCode, #PhoneNumber {
width:100%;
float:left;
margin-left:0
}
.bottum_submit {
float:left;
margin-top:-20px
}
#Location_Country select, #Location_State select {
width:100%;
float:left
}
.job_seeker_regi {
font-size:20px;
text-align:left;
margin:0!important
}
.social-buttons {
margin-left:2%
}
.social_plugins_div .login_buttons_txt {
padding:3px 0;
width:100%
}
#registr-form fieldset .inputName {
width:auto!important;
margin:0
}
#registr-form fieldset .inputReq {
width:auto!important
}
#listingsResults {
float:left;
margin:25px 0 0;
width:100%
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
float:left;
margin:5px 0 0;
width:100%
}
.results-paging {
width:100%;
float:left;
margin-left:0
}
.company-fix .listingInfo {
width:100%;
float:left;
text-align:center
}
.after-quick-links {
float:left;
margin:50px 0 0;
margin-left:0!important;
width:100%
}
.quick_links {
float:left;
margin:50px 0 0;
width:88%!important;
margin-left:0!important;
display:block!important
}
#displayListing #listingsResults {
float:left;
width:100%
}
.listingInfo {
margin-left:0;
width:100%!important
}
#col-wide {
float:left;
margin:10px 0 0;
width:100%
}
#col-wide .displayFieldBlock h3 {
display:inline-block;
margin:8px 0;
text-align:center;
width:100%
}
#displayListing #refineResults {
float:left;
width:100%
}
#col-wide .displayField {
width:100%;
float:left;
margin:0;
padding:0
}
.compProfileTitle {
text-align:center;
font-size:18px
}
#googleMap-links {
width:100%;
float:left;
margin:9px 0 5px
}
#googleMap-links a {
float:left;
margin:1%;
font-size:12px
}
#listView-icon, #mapView-icon, #showBriefOrDetailed {
padding:0 0 0 22px
}
.listing-info .right-side {
float:left;
text-align:center;
width:100%;
margin:20px 0 10px
}
.listing-info .right-side img {
text-align:center;
width:85%
}
#listings_per_page_form {
width:98%!important;
margin:0 5px 5px 0!important
}
#listings_per_page_form span {
width:100%;
float:left;
text-align:center
}
#listingsResults .evenrow .show-brief, #listingsResults .oddrow .show-brief {
margin:0;
width:100%
}
.noRefine .numberPerPage #listings_per_page_form, .noRefine .numberPerPage .listings_per_page_form {
width:25%
}
#currentSearch, #refineResults {
padding:10px 0
}
.listingInfo h2 {
font-size:24px;
padding:0 0 13px
}
.results-paging .topNavBar {
padding:15px 0
}
.results-paging .topNavBar .numberResults {
width:100%
}
.results-paging .topNavBar .numberResults .sorting {
float:left;
width:100%
}
.results-paging .topNavBar .numberResults .sorting>span {
clear:both!important;
float:right;
width:100%;
text-align:left
}
.refine_button {
float:none!important;
margin:0!important
}
.contact-us {
width:100%;
float:left
}
.contact-us .fix {
width:100%!important;
padding:9px 0
}
.contact-us tbody tr td {
width:100%!important;
float:left!important;
font-size:11px!important;
padding:10px 0!important
}
.contact-us .email_input {
width:100%!important;
padding:9px 0
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
.my-account {
width:100%;
float:left;
margin-top:0;
padding:5px 0
}
.my-account ul {
width:100%;
float:left;
margin:0
}
.my-account ul li {
margin:2px 0;
width:49%
}
#recentlyViewedJobs, #suggestedJobs {
margin:5px 0
}
#adSpaceAccount, #adSpaceAccount p img, #recentlyViewedJobs, #suggestedJobs, .BreadCrumbs {
width:100%;
float:left
}
#adSpace p, #adSpaceAccount p {
display:none!important
}
.BreadCrumbs {
margin:12px auto 0
}
.short_breadcrumb {
margin:20px auto 0!important
}
.BreadCrumbs p {
margin-left:5px
}
.my_account_breadcrumb {
height:55px!important
}
#recentlyViewedJobs table thead th, #suggestedJobs table thead th {
padding:10px 0
}
#recentlyViewedJobs .rec-sug-comp-th, #suggestedJobs .rec-sug-comp-th {
width:40%!important
}
#applicationForm, #applicationForm p {
width:100%;
float:left
}
.my-account-head {
margin:0 0 20px
}
#applicationForm {
margin:0
}
#table-alerts, table tbody td, table thead th {
font-size:12px;
padding:10px 3px
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
#notesForm_ textarea {
width:90%!important
}
.tableLeft, .tableRight {
padding:0!important
}
.pointedInListingInfo2 {
width:80%
}
.products_table {
display:block!important;
margin-left:0!important
}
.innerdiv_forall p {
margin-left:0
}
.app_table {
width:100%;
float:left;
display:block!important
}
.app_table th {
background-color:#f9a51a;
width:45%
}
.app_table th a {
color:#FFF
}
.Applications_table {
display:none
}
.button_delete {
float:none!important;
margin:5px 0;
text-align:left;
width:0!important
}
.saved_search {
width:100%;
float:left
}
.form-notes {
padding:0
}
.add_edit_note textarea {
width:100%!important
}
.form-notes #main_note_form {
display:none!important
}
.form-notes #note_form, .saved_listings_tbl .saved_listings_note #note_form {
display:block!important
}
#table-alerts, .saved_listings_tbl .saved_listings_note #main_note_form {
display:none!important
}
.jobalerts_table {
display:block!important
}
.jobalerts_table table tr th {
background-color:#f9a51a;
color:#fff;
padding:5px
}
.jobalerts_table table ul li {
margin:3px
}
.saved-search-tbl {
display:none!important
}
.edit_saved_search_tbl {
display:block!important;
float:left;
margin-left:0
}
.edit_saved_search_tbl th {
background-color:#f9a51a;
color:#FFF;
width:45%
}
.edit_saved_search_tbl table ul li {
margin:5px 3px
}
.invoice_srch_frm .inputField input[type=text] {
width:100%!important
}
.invoice_srch_frm {
margin:0!important
}
#date_notless, #date_notmore {
margin-bottom:5px;
width:77%!important
}
#pm_send_form textarea {
visibility:visible!important;
display:block!important;
margin-left:0;
width:100%!important;
padding:0;
height:100px!important
}
#pm_send_form .inputField {
width:100%!important
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
#post_listings_text {
padding-right:18px
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:230px!important
}
.BreadCrumbs p a, .BreadCrumbs p span {
color:#;
text-shadow:none
}
.header-page {
float:right;
padding:6px 5px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
.longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
.header-user-menu span {
float:left
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
table tbody tr {
border-bottom:none
}
.numberPerPage {
width:100%!important
}
.paymentButton {
margin-left:2%
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
#promotionCode #applyPromoCode {
margin:10px 0 0
}
#listing-product-choice-form p {
float:left;
padding:10px 0;
text-align:left!important
}
#main-div-after>form {
float:left;
width:100%;
margin-left:0
}
.password-recovery input[type=text] {
width:56%!important
}
.password-recovery input[type=submit] {
margin:10px 0 0
}
.password-recovery {
padding:0 0 0 2%
}
#grayBgBanner>.banner a img {
width:100%!important
}
.alert_form fieldset .alert_back_btn {
width:auto!important;
margin-right:0!important
}
.alert_form fieldset .alert_save_btn {
width:auto!important;
margin:0!important
}
.total_exp .searchIntegerLess, .total_exp .searchIntegerMore {
float:left;
width:41%!important
}
.total_exp .to {
float:left;
padding:0 5px;
margin-top:10px!important
}
.cke_chrome {
visibility:inherit;
width:100%!important
}
.product-button_responsive {
float:left;
margin:3px 0;
padding:0;
width:100%
}
.product-button_responsive input[type=button] {
width:100%;
float:none;
margin:0;
display:inline-block
}
#productDetails>table {
width:100%!important;
float:left
}
#application-settings input[type=text] {
width:96%!important
}
.shopping_cart tbody tr th {
width:45%;
background-color:#f9a51a;
color:#FFF
}
#shoppingCartTable {
display:none!important
}
.shopping_cart, .table_div {
display:block!important
}
.shopping_cart {
margin-left:0
}
.continue-shopping input[type=button] {
padding:8px 10px;
margin:0
}
#contactInfo-in {
width:98%
}
#contactInfo {
width:98%;
margin-left:2%
}
#note-block #notesForm textarea {
width:90%!important
}
.contact-detail-cap {
float:left;
font-weight:700;
width:40%
}
#under-contact #note-block {
width:auto
}
#cont-info-sendpm {
float:left!important;
width:200px
}
.main_table {
display:none!important
}
#my-listings-table, .empty_div {
display:none
}
.table_div p a {
text-align:center!important
}
.table_div_title {
background-color:#f9a51a;
color:#fff;
font-size:12px;
padding:0 10px!important;
text-align:left;
width:45%!important
}
.table_div_title>a {
color:#4d4d4d
}
.formtable tbody tr td {
float:left!important;
width:86%
}
.listing_search_form {
width:97%;
float:left;
margin:0!important
}
#activation_date_notless, #activation_date_notmore {
margin-bottom:2%;
width:75%!important
}
.searchActDate {
float:none!important
}
.numberPerPage, .numberPerPage .listings_per_page_form {
float:left;
margin:17px 0;
text-align:left;
width:25%
}
.listing_actions {
width:100%;
margin:20px 0 20px 2%
}
#listings_per_page_form {
float:left;
text-align:left
}
.listing_actions input[type=submit] {
width:70%;
float:left;
margin:3px 0
}
.listing_actions>span {
text-align:left!important;
float:left
}
.pageNavigation {
float:left;
margin:10px 0;
width:83%
}
.actions-with-selected, .pageNavigation {
text-align:center
}
.filter_listings {
margin-top:0!important
}
.listing_text {
width:100%;
float:left;
text-align:left
}
#listings_per_page_form .sbHolder, .listings_per_page_form .sbHolder {
width:60px;
float:left;
margin:5px 0
}
#complexFields_Education, #complexFields_WorkExperience, #complexFields_WorkExperience .displayDate {
width:100%!important
}
.sub_accounts_tbl {
display:none!important
}
.sub_accounts {
display:block!important;
margin-left:1%
}
.sub_accounts table tr th {
background-color:#f9a51a;
color:#FFF
}
#sub-accounts fieldset .inputName {
width:auto
}
#sub-accounts fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#newsCategory {
margin:5px 1%
}
.resume_alerts {
display:block!important;
margin-left:1%
}
.resume_alerts table tr th {
background-color:#f9a51a;
color:#fff;
padding:5px
}
.resume_alerts table ul li {
margin:3px
}
.link_space {
margin-bottom:5%;
display:inline-block
}
.edit_questions, .edit_questions table {
margin-bottom:10px
}
#edit-questions {
display:none
}
.edit_questions {
display:block!important;
clear:both
}
.edit_questions table tr th {
background-color:#f9a51a;
color:#fff;
width:40%
}
#displayResults {
display:none!important
}
.contacts_tbl, .invoice_tbl {
display:block!important
}
.invoice_tbl {
margin-left:1%
}
.contacts_tbl table {
border:1px solid #000!important
}
.main_contacts_tbl {
display:none!important
}
.numberPerPage_text {
float:left!important;
text-align:left;
width:100%
}
.sbOptions {
width:auto!important;
right:-13px
}
#cke_form_message {
float:left;
width:97%!important
}
.reply {
margin:2px 0
}
.find_jobs_responsive {
width:72%!important;
float:left
}
.add_section, .find_jobs_responsive>.inputField, .find_jobs_responsive>.inputName {
width:97%!important;
float:left
}
.find_jobs_responsive>.inputField input[type=text], .find_jobs_responsive>.inputField input[type=password] {
float:left;
width:96%
}
.find_jobs_responsive>.inputList select {
float:left;
width:100%
}
.keyword_search, .ortable-column, .ui-multiselect {
width:100%!important
}
.ortable-column {
display:none
}
.keyword_search {
float:left
}
.ui-multiselect-menu select {
width:100%;
float:left
}
.empty {
display:none!important
}
#addListingForm .small_width {
width:69%!important
}
#addListingForm .inputName {
padding:0;
width:auto!important
}
#addListingForm .inputReq {
width:20%!important
}
#addListingForm .displayDate, #editListingForm .displayDate {
width:82%!important
}
.complex {
border-bottom:1px dotted #727272;
display:block;
padding:10px 0;
width:100%
}
#addListingForm fieldset:last-child .button {
clear:left
}
#addListingForm fieldset .inputField input.button {
margin-bottom:5px
}
.instruction .instr_block {
float:left
}
.instr_arrow {
left:-2px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:35px;
margin-top:10px
}
.page_button {
display:inline-block!important;
width:97%
}
#editListingForm .inputName {
width:auto!important;
padding:0
}
#editListingForm .inputReq {
width:auto!important
}
.small_width {
width:66%!important;
clear:both
}
.inputName {
width:100%;
text-align:left
}
#search_form .inputField, .builder-col-wide .inputField {
display:inline-block;
width:98%
}
#adMargin fieldset {
margin:0 0 10px
}
.ui-multiselect {
min-height:36px;
padding:7px 5px 5px!important
}
.salary-abbr {
float:left;
width:60%
}
.salary-abbr input {
display:inline-block;
float:left;
width:35%!important;
padding:9px 4px!important
}
#DesiredSalary_list, #Salary_list {
float:right;
width:35%
}
#adSpace, #instruction_DesiredSalary, #instruction_ZipCode {
float:left
}
.inputForm .searchList, .searchList, select {
width:100%;
margin-left:0
}
.selectCurrency {
margin:0 0 0 10px;
width:50%
}
#adSpace {
width:100%
}
#adSpace p {
padding:5px 10px
}
#adSpace p img {
width:90%
}
#adSpace p a img {
width:auto
}
#editListingForm .tree-input-field {
width:100%!important;
margin:9px 0 10px
}
#searchType-keywords, .searchGeoDistance {
margin:5px 0 0;
width:100%!important
}
.search-only span {
display:inline-block;
margin:3px 5px 0 0;
float:left
}
.search-only #titleOnly-keywords {
float:right
}
.search-only {
display:inline-block;
float:left;
font-size:11px;
padding:5px 0 0
}
.kwrds_search {
width:100%;
float:left
}
.srh_by_company {
width:100%;
float:left;
margin:5px!important
}
.bcField, .bcField input[type=text] {
width:100%
}
.SearchResultsCompany {
width:100%;
float:left;
margin-left:1%
}
.searchresultscompany_tbl {
display:block!important
}
.company_main_tbl {
display:none!important
}
.topNavBar .numberPerPage {
margin:0!important
}
.topNavBar form {
margin:5px 0!important;
float:left
}
.SearchResultsCompany .topNavBar .pageNavigation {
margin:8px 0!important;
width:100%!important;
float:right;
padding:0
}
.SearchResultsCompany .topNavBar {
display:inline-block;
padding:15px 0
}
.userInfo {
width:100%;
float:left
}
.compProfileInfo, .compProfileInfo>.text-center {
width:100%;
float:left;
text-align:center
}
.compProfileInfo>.text-center img {
width:85%;
text-align:center
}
.compProfileInfo>.strong, .noRefine .listingInfo {
width:100%;
float:left;
text-align:center
}
.noRefine #listingsResults, .noRefine .results-paging {
float:left;
text-align:center;
width:100%
}
.headerBgBlock .Results {
text-align:center;
margin:0 auto
}
.head {
margin:0!important
}
.head h1 {
text-align:left;
margin:15px 0 0!important
}
.numberPerPage.select-box>span {
float:none
}
.select-box {
width:100%;
float:left
}
.navigationItems {
color:#2c6073;
width:40%;
float:left;
text-align:left
}
.priorityListing .listing-title {
width:100%;
text-align:left;
padding:5px 0
}
.listing-info .left-side {
margin:15px 5px 5px 0
}
.listing-links ul {
margin:0 0 0 2px
}
.show-brief {
text-align:center
}
.narrow-col {
width:100%;
float:left;
margin:0!important
}
.narrow-col .displayFieldBlock h3 {
width:30%;
text-align:left;
padding:5px 0 5px 8px
}
.narrow-col .displayField {
width:%;
float:right;
padding:5px 8px 5px 0
}
.sortable-column {
margin:0
}
.narrow-col .displayFieldBlock {
height:40px;
margin:10px 0
}
.citylist {
display:none!important
}
.city_list_responsive {
display:block!important;
margin-top:0!important
}
.city_list_responsive>li {
margin:10px
}
.city_list_responsive>li a {
font-weight:700;
font-size:14px
}
#promotionCode {
margin:0 0 0 2%;
width:98%
}
#promotionCode .strong, .shoppingCartTable {
width:100%;
float:left
}
.continue-shopping {
float:left;
margin:0 0 0 1%
}
#shoppingCartTable tr th, td {
float:none!important;
width:auto!important
}
.printPage {
width:98%!important
}
.printRight, .printRight h1, .user_notifications {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
.user_notifications>fieldset {
width:99%;
float:left;
margin:0
}
.notCheck, .notDesc {
margin-bottom:10px;
float:left
}
.notCheck {
margin-right:11px;
width:4%
}
.notDesc {
width:90%
}
.notDescText {
width:40%
}
.notif-date-days {
width:14%!important
}
#invoice-info {
float:left;
text-align:left
}
#invoice-logo {
float:left;
width:97%;
background-color:none;
text-align:center
}
#invoice-logo IMG {
width:85%;
text-align:center
}
#invoice-billto, #invoice-sendto {
width:96%;
float:left;
margin:0
}
#invoice-buttons {
width:98%;
float:left
}
#invoice-buttons input, button, textarea {
width:100%;
margin:3px 0
}
.site-map {
width:90%!important;
margin:0 auto
}
.site-map h1 {
margin-left:10px
}
.site-map table td {
float:left!important;
padding:10px!important;
text-align:left;
width:93%!important
}
#addListingForm {
float:left!important;
padding:25px 0
}
.add_listing_form {
width:100%!important;
float:left;
margin:0!important
}
.site-map table td p a {
text-align:left!important;
padding:10px!important;
display:inline-block
}
.site-map table td strong {
text-align:left!important;
font-size:16px!important
}
#exp_date {
float:left;
margin:10px 5px 0 0
}
#reports, #reports #quick-stats {
width:100%;
float:left
}
#reports-navigation a {
font-size:12px;
padding:10px 3px
}
#reports-navigation-in {
width:100%
}
#general-stats {
display:none
}
.general_states {
width:100%;
float:left;
display:block;
margin-left:1%
}
.general_states table tbody tr th, .job_states table tbody tr th {
width:45%
}
.general_states table tr th {
background-color:#f9a51a;
color:#FFF
}
#job_stats {
display:none!important
}
.job_states {
display:block!important
}
.job_states th {
background-color:#f9a51a
}
.job_states th a {
color:#fff
}
.main_saved_listings {
display:none
}
.saved_listings_tbl {
display:block!important
}
.saved_listings_tbl table tr th {
width:45%;
background-color:#f9a51a;
color:#FFF
}
.job_states {
width:100%;
margin-left:0;
float:left
}
#application-tracking-form .tableSearchResultApplications {
display:none!important
}
.view_questionnaire {
display:block!important
}
#applicationFilter {
width:100%!important;
margin-left:0;
float:left;
text-align:left
}
.app-tracking #applicationFilter select {
width:100%!important;
margin:5px 0 10px
}
#newsCategory {
width:92%;
float:left
}
#newsCategory>input[type=text] {
width:100%!important;
float:left
}
.action-form-buttons input[type=submit] {
margin-bottom:5px
}
.questionnaire fieldset .inputName {
width:auto
}
.questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
.questionnaire fieldset .inputField .inputString {
width:100%!important
}
#edit_questionnaire fieldset .inputName {
width:auto
}
#edit_questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questionnaire p {
margin-left:0!important
}
#question_field fieldset .inputName {
width:auto
}
#question_field fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questions fieldset .inputName {
width:auto
}
#edit_questions fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#answers input[type=text], #answers select {
width:100%
}
.search_news {
width:92%;
float:left;
margin-left:5px
}
.search_news input[type=text] {
width:92%;
float:left
}
.brief_news, .newsPreview p, .newsPreview p>a, .small {
width:100%;
text-align:left!important;
float:left
}
.search_news input[type=submit] {
margin:5px 0;
float:left
}
.brief_news {
margin-top:0
}
.newsPreview p>a {
padding:0
}
.newsPreview p {
padding:0;
margin:0
}
.small {
padding:5px 0
}
.employer {
width:100%!important;
float:left
}
#employer-bg {
background:url(employer-bg-responsive.png) no-repeat!important
}
#employers_selected_list input[type=text] {
width:200px!important
}
#employers_selected_list input[id=find_button], #employers_selected_list input[id=set_employers_list] {
margin-bottom:0
}
#employers_selected_list input[id=move_to_selected], #employers_selected_list input[id=remove_from_selected] {
margin-bottom:5px;
padding:10px;
min-width:20px;
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg)
}
#employers_selected_list #move_btns {
text-align:center
}
#employers_selected_list #employers_for_select {
width:96%!important;
float:left;
height:90px
}
#employers_selected_list #employers_selected {
width:96%!important;
float:left;
height:60px
}
#employers_selected_list table tr td {
clear:both!important;
float:left!important;
width:100%!important;
padding:5px
}
.ui-widget {
max-width:100%!important;
float:left
}
#tree-buttons>input {
margin:0
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
float:left!important;
left:11px!important;
width:62%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-find-jobs {
float:left!important;
left:4%!important;
width:88.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-edit-listing {
float:left!important;
left:4%!important;
width:58.5%!important
}
#listings_per_page_form .sbOptions, #sort-by .sbOptions, .listings_per_page_form .sbOptions {
left:-2px;
top:18px!important;
width:100%!important
}
#listings_per_page_form .sbSelector, #sort-by .sbSelector, .listings_per_page_form .sbSelector {
padding:1px 0;
width:100%;
line-height:14px;
height:16px
}
#applyForm fieldset .inputName {
width:100%!important
}
#applyForm fieldset .inputField {
width:90%!important
}
#tellFriendForm fieldset .inputName {
width:100%!important
}
#tellFriendForm fieldset .inputField {
width:90%!important;
margin:2px
}
#tellFriendForm fieldset .inputField textarea {
padding:0 10px!important
}
#reason {
width:100%!important
}
#tellFriendForm fieldset .inputField>br {
display:none
}
#captchaImg {
display:inline-block;
float:left;
height:60px;
margin-right:5px
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm .inputField input[type=text], #messageBox #loginForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm .inputField input[type=text], #messageBox #flagForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox .inputName, #messageBox>iframe {
width:100%!important
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important
}
.inputField .player {
width:100%
}
#listings_per_page_form .sbToggle, #sort-by .sbToggle, .listings_per_page_form .sbToggle {
height:16px;
top:auto
}
#ui-datepicker-div {
width:auto!important
}
.ui-widget-overlay {
width:100%!important
}
.goggle_maps {
display:none!important
}
ul.tree, ul.tree * {
font-size:13px
}
.quick_links_button {
display:block!important;
margin:0
}
.quick_links_button .Pagging {
margin-bottom:10px
}
.after-quick-links {
display:none
}
.cke_chrome {
display:none!important
}
.inputField textarea {
visibility:visible!important;
display:block!important;
padding:10px 0
}
.inputStringMoney {
width:41%!important
}
#custom .tree-input-field {
margin:0 0 10px;
width:52%
}
.instruction {
clear:both
}
.mt-count-available {
font-size:12px;
padding:21px 0 0 10px
}
.tree-available-count {
font-size:12px
}
.company-fix #blockBg {
margin:0
}
.refine_results {
display:none
}
.view_refine {
display:block!important
}
#ajaxRefineSearch #refineResults .show-menu {
background:#fff;
border-radius:4px;
box-shadow:0 3px 3px -1px #dedede;
display:block;
padding:10px;
width:100%;
border:1px solid #dedede
}
h5.show-refine, h5.view_refine {
background-image:url(../refine_icon.png)
}
#refine_button, h5.show-refine, h5.view_refine {
background-repeat:no-repeat
}
.refine {
display:none
}
#blockInner .refine.show-menu {
display:block!important
}
#blockInner .refine.hide-menu {
display:none!important
}
h5.view_refine {
color:#ce4a14;
font-size:18px;
padding:5px 5px 10px;
width:96%;
text-align:left;
border:1px solid #ffdccd;
cursor:pointer;
background-position:98% -15%
}
h5.show-refine {
background-position:98% 100%
}
#refine_button {
background-image:url(../b_down_arrow.png);
width:25px;
margin-top:10px;
float:right;
height:10px;
cursor:pointer
}
#refineResults th {
color:#ce4a14;
font-size:18px;
padding:5px 0 10px;
display:none
}
.separate-div {
width:88%;
float:left
}
#application-settings input[type=button] {
margin-top:5px
}
.qsbMselect {
width:100%!important
}
.st4xM {
width:306px!important
}
.stwrapper.stwrapper4x {
width:270px!important;
margin:0 0 0 -138px!important
}
.stwrapper>.stLframe>#top_chicklets li a {
width:85px!important
}
#borderContainer {
width:82px!important
}
iframe #top_chicklets a {
width:50px!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:10%!important;
top:76%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:10%!important;
top:69%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:4%!important;
top:71.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:4%!important;
top:64.5%!important
}
.ui-dialog {
max-width:90%!important;
max-height:92vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:59vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:76vh!important;
overflow:auto
}




/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: hidden;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}


}
