@media all and (min-width:321px) and (max-width:480px) {
.inner, .mobile_menu>ul>li {
margin-left:0
}
.app_table th a, .innerdiv_forall p .button, .job_states th a, .mobile_menu ul li a, .table_div_title>a, table tr th a {
text-decoration:none
}
.inner {
width:225px;
padding:0;
float:left;
top:0;
position:absolute
}
#mobile_menu, label.label_nav {
width:40px;
height:40px;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center;
position:absolute;
cursor:pointer
}
.nav ul {
display:none
}
label.label_nav {
display:block;
top:6px;
left:5px
}
#mobile_menu {
display:block!important;
top:5px;
left:-8px
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu {
position:absolute;
top:40px
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.content_right h1>br, .membership_inner>h1 br {
display:none
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left {
width:100%;
text-align:left
}
#mailchimp-nl-cont, .company_txt, .membership_inner h1 {
text-align:center
}
.header_left a img {
width:260px;
margin-top:15px
}
.header_right {
width:100%;
margin-top:5%
}
.login_section {
width:100%;
border-radius:8px
}
.chat_section {
width:100%
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:100%;
margin:0 0 3%
}
#quickSearchForm input {
width:250px!important
}
.follow_section {
width:100%;
float:left
}
.follow_section h6 {
width:100%;
margin:2% 0 0
}
.follow_us {
float:left;
margin-top:3%
}
.seeker {
margin-bottom:3%;
width:100%
}
.search_section {
width:100%
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
width:100%
}
.company_txt p {
line-height:24px;
padding:5px 0
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area, .upload_area, .visitor_area {
margin:0 0 5%;
width:100%
}
.job_area, .job_inner {
margin:0 auto
}
.job_area {
width:90%
}
.job_category, .job_inner {
width:100%
}
.job_category ul li {
width:49%
}
.job_location {
width:100%
}
.job_location ul li {
width:49%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.gallery_area ul li {
margin:0 4% 0 0;
width:46%
}
.gallery_area ul li img {
width:auto
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:100%
}
#mailchimp-newsletter {
margin:0
}
.signup_back {
width:100%;
margin:0 0 3%
}
.signup_back input[type=text] {
width:87%!important
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.medium_col {
width:90%
}
.right_col {
height:35px;
width:43px;
float:right
}
.membership_Section {
padding:5% 0
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%;
background-position:right bottom
}
.membership_inner ul li {
width:100%
}
.membership_inner ul li p {
float:left;
width:85%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:96%;
margin:0 0 20px 2%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.feed_text, .video_area>img {
width:100%
}
.content_right {
width:100%;
float:left
}
.content_right h1 {
text-align:left
}
.productInfo h3, .productInfo p, .productLinks {
text-align:center
}
.right_followus {
float:none
}
.video_area {
float:left
}
.feed_text {
float:left;
margin-bottom:2%
}
.poll {
width:93%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
.breadcrumb_height, .search_results_breadcrumbs {
height:80px!important
}
.footer_inner {
padding:10% 0;
width:100%
}
.selectCurrency {
margin:0 0 0 10px;
width:47%
}
table tbody li {
margin:0
}
.tree-input-field {
margin:9px 0 10px;
width:250px
}
#grayBgBanner>.banner a img {
width:100%!important
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
.inputField, .inputName, .inputReq {
float:left;
width:100%;
margin:0
}
.inputField input[type=text] {
width:100%;
float:left;
padding:9px 0;
text-indent:5px
}
.inputField input[type=password] {
width:100%;
float:left;
padding:9px 0
}
.inputButton {
float:left;
margin:0 19px 5px 5px;
width:auto
}
.double_breadcrumbs {
position:relative;
top:35px
}
.browse_right {
float:left;
margin:85px 0 5px
}
.noRefine_breadcrumbs {
position:relative;
top:5px
}
.browse {
float:left;
margin:-22px 0 0!important
}
.bread-crumb, .refine-fix {
margin:0;
position:relative
}
.bread-crumb {
top:-10px
}
.no_breadcrumb {
height:50px!important
}
.results {
margin:25px 0 0!important;
float:none!important
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
#shareThis, .productInfo, .productInfo h3 {
width:100%;
float:left
}
.products {
margin:15px 0;
padding:10px 1%
}
.productLinks, .results-paging .topNavBar {
padding:15px 0
}
.productInfo {
margin:10px 0
}
.productInfo p {
margin:0 auto;
width:95%
}
.productLinks {
width:99%
}
.productLinks .button {
min-width:160px;
display:inline-block;
float:none
}
#productsList .oddrow {
width:98%
}
.keyword_search {
width:100%!important;
float:left
}
#adMargin {
float:left;
width:100%
}
#addListingForm .small_width {
width:72%!important
}
#addListingForm .inputName {
width:auto!important
}
#addListingForm .inputReq {
width:20%!important
}
#main-div-after>form {
float:left;
margin-left:0;
width:100%
}
#search_form .inputField {
display:inline-block;
width:100%
}
#adMargin fieldset {
margin:0 0 10px
}
#loginForm fieldset {
margin:0!important;
float:left;
width:100%
}
#loginForm label {
float:left;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
#loginForm input[type=checkbox] {
float:left
}
#messageBox .inputField {
width:100%!important
}
#loginForm .inputField input[type=text], #loginForm .inputField input[type=password] {
float:left;
width:100%
}
#listing-product-choice-form label:hover {
background-image:none!important
}
#application-settings input[type=text] {
width:96%!important
}
.login_buttons_txt {
margin-left:1%
}
.results-paging {
width:100%;
float:left;
margin-left:0
}
.topNavBar .select-box {
float:right
}
.results-paging .topNavBar .numberResults {
width:100%
}
.results-paging .topNavBar .numberResults .sorting {
float:left;
width:100%
}
.results-paging .topNavBar .numberResults .sorting>span {
clear:both!important;
float:right;
width:100%;
text-align:left
}
#listings_per_page_form {
float:left;
text-align:center;
width:auto!important
}
#listings_per_page_form .listing_text {
margin-right:30px
}
.numberPerPage.select-box>span {
float:left
}
.priorityListing .listing-title {
padding:5px 0;
text-align:left;
width:100%
}
#listingsResults {
float:left;
margin:25px 0 0;
width:100%
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
float:left;
margin:5px 0 0;
width:100%
}
.company-fix .listingInfo {
width:100%;
float:left;
text-align:center
}
#col-wide .displayField {
margin:2px 0 22px;
padding:0
}
.listingInfo {
margin-left:0;
width:100%!important
}
#displayListing #listingsResults, .contact-us {
width:100%;
float:left
}
.listingInfo h2 {
font-size:24px;
padding:0 0 13px
}
#displayListing #refineResults {
float:left;
width:100%;
padding:10px 0
}
.contact-us .fix {
width:100%!important;
padding:9px 0
}
.contact-us tbody tr td {
width:100%!important;
float:left!important;
font-size:11px!important;
padding:10px 0!important
}
.contact-us .email_input {
width:100%!important;
padding:9px 0
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
.my-account {
width:100%;
float:left;
margin-top:0;
padding:5px 0
}
.my-account ul {
width:100%;
float:left;
margin:0
}
.my-account ul li {
margin:2px 0;
width:49%
}
.my-account-head {
margin:0 0 20px
}
#recentlyViewedJobs, #suggestedJobs {
margin:5px 0;
width:100%;
float:left
}
#adSpaceAccount {
float:left;
width:100%
}
#adSpaceAccount p img {
width:100%;
float:left
}
#adSpaceAccount p a img {
width:auto!important;
float:left
}
#adSpace p, #adSpaceAccount p {
display:none!important
}
.BreadCrumbs {
width:100%;
float:left;
margin:12px 0 0
}
.short_breadcrumb {
margin:20px auto 0!important
}
.BreadCrumbs p {
margin-left:5px
}
#recentlyViewedJobs table thead th, #suggestedJobs table thead th {
padding:10px 0
}
.tableLeft, .tableRight {
padding:5px!important
}
.pointedInListingInfo2 {
width:86%
}
#recentlyViewedJobs .rec-sug-comp-th, #suggestedJobs .rec-sug-comp-th {
width:40%!important
}
#notesForm_ textarea {
width:90%!important
}
#edit_profile_form fieldset .inputName {
width:auto!important;
margin:0
}
#edit_profile_form fieldset .inputReq {
width:auto!important
}
#edit_profile_form fieldset .delete_profile_btn, #edit_profile_form fieldset .save_profile_btn {
width:auto!important;
margin-right:0!important
}
#edit_profile_form .inputField input[type=text], #edit_profile_form .inputField input[type=password] {
width:100%;
float:left
}
#edit_profile_form #Location_Address, #edit_profile_form #Location_City input, #edit_profile_form #Location_ZipCode {
width:100%!important;
float:left;
margin-left:0
}
#edit_profile_form #PhoneNumber {
width:100%;
float:left;
margin-left:0
}
.fieldset_inner {
width:100%;
float:left;
margin:1px 0
}
.fieldset_inner>.inputName, .inputField {
width:100%;
float:left;
margin:5px 0
}
.soc_reg_form {
margin-top:0
}
.social-buttons {
margin-left:0
}
.social_plugins_div .login_buttons_txt {
padding:3px 0;
width:100%
}
.products_table {
display:block!important;
margin-left:0!important
}
.app_table, .innerdiv_forall p {
margin-left:0
}
.table_div_title {
font-size:12px;
padding:0 10px!important;
text-align:left;
width:45%!important
}
.app_table {
width:100%;
float:left;
display:block!important
}
.app_table th {
background-color:#585043;
width:45%
}
.app_table table tbody li {
margin:0 5px 5px 0
}
.app_table th a {
color:#FFF
}
.Applications_table {
display:none
}
.button_delete {
float:none!important;
margin:5px 0;
text-align:left;
width:0!important
}
.form-notes {
padding:0
}
.add_edit_note textarea {
width:100%!important
}
.form-notes #main_note_form {
display:none!important
}
.form-notes #note_form, .saved_listings_tbl .saved_listings_note #note_form {
display:block!important
}
#table-alerts, .saved_listings_tbl .saved_listings_note #main_note_form {
display:none!important
}
.jobalerts_table {
display:block!important
}
.jobalerts_table table tr th {
background-color:#585043;
color:#fff;
padding:5px
}
.jobalerts_table table ul li {
margin:3px
}
.saved-search-tbl {
display:none!important
}
.edit_saved_search_tbl {
display:block!important;
float:left;
width:100%;
margin-left:0
}
.edit_saved_search_tbl th {
background-color:#585043;
color:#FFF;
width:45%
}
.edit_saved_search_tbl table ul li {
margin:5px 3px
}
#pm_send_form textarea {
width:100%;
margin-left:0;
height:100px!important;
visibility:visible!important;
display:block!important;
padding:0
}
#pm_send_form .inputField {
width:100%!important
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
.my_account_breadcrumb {
height:55px!important
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:230px!important
}
.BreadCrumbs p a, .BreadCrumbs p span {
text-shadow:none
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
.paymentButton {
margin-left:2%
}
.header-page {
float:right;
padding:6px 5px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
#instruction_DesiredSalary, #instruction_ZipCode, .header-user-menu span, .instr_arrow, .instruction .instr_block, .longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
#addListingForm .inputName {
padding:3px 0 8px
}
.inputForm .button {
margin-right:10px!important
}
#addListingForm fieldset:last-child .button {
clear:left
}
.page_button {
display:inline-block!important;
width:95%
}
#addListingForm fieldset .inputField input.button {
margin-bottom:5px
}
#addListingForm .displayDate, #editListingForm .displayDate {
width:80%!important
}
.complex {
border-bottom:1px dotted #727272;
display:block;
padding:10px 0;
width:100%
}
.instr_arrow {
left:-1x;
position:relative;
z-index:20;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:35px;
margin-top:10px
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
#listing-product-choice-form p {
float:left;
width:100%;
padding:10px 0;
text-align:left!important
}
.refine_button {
float:none!important;
margin:0!important
}
.password-recovery input[type=text] {
width:61%!important
}
.password-recovery input[type=submit] {
margin:10px 0 0
}
.password-recovery {
padding:0 0 0 2%
}
#contactInfo-in {
width:98%
}
#contactInfo {
width:98%;
margin-left:2%
}
#under-contact #note-block {
width:95%
}
#note-block #notesForm textarea {
width:90%!important
}
.contact-detail-cap {
float:left;
font-weight:700;
width:40%
}
.inputForm .searchList, .inputReq, .searchList, .searchList select {
width:100%
}
#cont-info-sendpm {
float:right!important
}
.fieldset_inner .inputName {
padding:0!important;
margin-bottom:0!important
}
.fieldset_inner .inputField {
margin-top:0!important
}
.inputReq {
float:left;
padding:0!important
}
#registr-form fieldset .inputName {
width:auto!important;
margin:0
}
#registr-form fieldset .inputReq {
width:auto!important
}
#registr-form fieldset .inputField .inputString, #registr-form fieldset .inputField input[type=""] {
width:%!important;
padding:9px 0
}
#registr-form .inputField input[type=text], #registr-form .inputField input[type=password] {
width:100%!important
}
.job_seeker_regi {
font-size:20px;
text-align:left;
margin:0!important
}
.alert_form fieldset .alert_back_btn {
width:auto!important;
margin-right:0!important
}
.alert_form fieldset .alert_save_btn {
width:auto!important;
margin:0!important
}
.total_exp .searchIntegerLess {
float:left;
width:42%!important
}
.total_exp .searchIntegerMore {
float:left;
width:41%!important
}
.total_exp .to {
float:left;
padding:0 5px;
margin-top:10px!important
}
.cke_chrome {
visibility:inherit;
width:100%!important
}
.product-button_responsive {
width:100%;
float:none;
display:inline-block;
text-align:center;
margin:3px 0
}
.product-button_responsive input[type=button] {
width:180px;
float:none
}
#productDetails>table {
width:100%!important;
float:left
}
.table_div {
display:block!important
}
.main_table {
display:none!important
}
.table_div p a {
text-align:center!important
}
.app_table table, .contacts_tbl table, .edit_saved_search_tbl table, .general_states table, .invoice_tbl table, .job_states table, .jobalerts_table table, .products_table table, .saved_listings_tbl table, .searchresultscompany_tbl table, .shopping_cart table, .sub_accounts table, .table_div table {
margin-bottom:10px
}
.shopping_cart {
display:block!important;
margin-left:0;
width:100%
}
.shopping_cart tbody tr th {
width:45%;
background-color:#f9a51a;
color:#FFF
}
#shoppingCartTable, .sub_accounts_tbl {
display:none!important
}
.sub_accounts {
display:block!important;
margin-left:1%
}
#my-listings-table, .empty_div {
display:none
}
.sub_accounts table tr th {
background-color:#585043;
color:#FFF
}
#sub-accounts fieldset .inputName {
width:auto
}
#sub-accounts fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#sub-accounts fieldset .inputField input[type=text], #sub-accounts fieldset .inputField input[type=password] {
width:99%!important
}
.formtable tbody tr td {
float:left!important;
width:86%
}
.listing_search_form {
width:97%;
float:left;
margin:0!important
}
#activation_date_notless, #activation_date_notmore {
width:34%!important;
margin-bottom:2%
}
.numberPerPage #listings_per_page_form, .numberPerPage .listings_per_page_form {
float:left;
margin:17px 0;
text-align:left;
width:100%!important
}
.listing_text {
float:left;
text-align:left
}
.listing_actions {
width:100%;
margin:6px 0 20px
}
.listing_actions input[type=submit] {
width:51%;
float:left;
margin:3px 0
}
.listing_actions>span {
text-align:left!important;
float:left;
width:100%
}
.pageNavigation {
float:left;
margin:10px 0 0 1%;
width:83%
}
.actions-with-selected, .pageNavigation {
text-align:center
}
.filter_listings {
margin-top:0!important
}
.numberPerPage {
margin:0 0 20px 3px
}
#listings_per_page_form .sbHolder, .listings_per_page_form .sbHolder {
width:50px;
float:left
}
#complexFields_Education, #complexFields_WorkExperience {
width:100%!important
}
#complexFields_Education, #complexFields_WorkExperience .displayDate {
width:80%!important
}
#newsCategory {
width:92%;
margin:5px 1%;
float:left
}
.resume_alerts {
display:block!important;
margin-left:1%
}
.resume_alerts table tr th {
background-color:#585043;
color:#fff;
padding:5px
}
.resume_alerts table ul li {
margin:5px 3px
}
.link_space {
margin-bottom:5%;
display:inline-block
}
.edit_questions, .edit_questions table {
margin-bottom:10px
}
#edit-questions {
display:none
}
.edit_questions {
display:block!important;
clear:both
}
.edit_questions table tr th {
background-color:#585043;
color:#fff;
width:40%
}
#displayResults {
display:none!important
}
.invoice_tbl {
display:block!important;
margin-left:1%
}
.searchActDate.hasDatepicker {
float:none!important
}
#tellFriendForm fieldset .inputField>br {
display:none
}
#captchaImg {
display:inline-block;
float:left;
height:60px;
margin-right:5px
}
.contacts_tbl {
display:block!important
}
.empty, .main_contacts_tbl {
display:none!important
}
.contacts_tbl table {
border:1px solid #000!important
}
.invoice_srch_frm {
margin:0!important
}
#date_notless, #date_notmore {
margin-bottom:5px;
width:77%!important
}
.numberPerPage_text {
float:left!important;
text-align:left;
width:100%
}
.sbOptions {
width:auto!important;
right:-13px
}
#cke_form_message {
float:left;
width:97%!important
}
.reply {
margin:2px 0
}
.pre_next_btn {
clear:both;
width:100%!important
}
.ui-multiselect-menu select {
width:100%;
float:left
}
.inputName {
width:100%;
text-align:left
}
#editListingForm .inputName {
width:auto!important;
padding:0
}
#editListingForm .inputReq {
width:auto!important
}
.small_width {
width:66%!important;
clear:both
}
.ui-multiselect {
width:100%!important;
min-height:36px;
padding:7px 5px 5px!important
}
.salary-abbr {
float:left;
width:60%
}
.salary-abbr input {
display:inline-block;
float:left;
width:35%!important;
padding:9px 4px!important
}
#DesiredSalary_list, #Salary_list {
float:right;
width:35%
}
.inputForm .searchList, .searchList, select {
width:100%;
margin-left:0
}
#adSpace {
width:100%;
float:left
}
#adSpace p {
padding:5px 10px
}
#adSpace p img {
width:90%
}
#adSpace p a img {
width:auto
}
#editListingForm .tree-input-field {
width:100%!important;
margin:9px 0 10px
}
#searchType-keywords, .searchGeoDistance {
margin:5px 0 0;
width:100%!important
}
.search-only span {
display:inline-block;
margin:3px 5px 0 0;
float:left
}
.search-only #titleOnly-keywords {
float:right
}
.search-only {
float:left;
font-size:11px;
padding:5px 0 0
}
.kwrds_search {
width:100%;
float:left
}
.srh_by_company {
width:100%;
float:left;
margin:5px 0!important
}
.bcField {
width:100%
}
.bcField input[type=text] {
width:100%;
padding:9px 0;
text-indent:5px
}
.SearchResultsCompany {
width:100%;
float:left;
margin-left:0
}
.searchresultscompany_tbl {
display:block!important
}
.company_main_tbl {
display:none!important
}
.topNavBar .numberPerPage {
margin:0!important
}
.topNavBar form {
margin:5px 0!important;
float:left
}
.SearchResultsCompany .topNavBar .pageNavigation {
width:auto;
margin:8px 0!important;
float:right;
padding:0
}
.SearchResultsCompany .topNavBar {
display:inline-block;
padding:15px 0
}
.SearchResultsCompany .numberResults {
margin-right:5%
}
.userInfo {
width:100%;
float:left
}
.compProfileInfo, .compProfileInfo>.text-center {
width:100%;
float:left;
text-align:center
}
.compProfileInfo>.text-center img {
width:65%;
text-align:center
}
.compProfileInfo>.strong {
width:100%;
float:left;
text-align:center
}
.app-tracking #applicationFilter select {
width:100%!important;
margin:5px 0 10px
}
.noRefine .listingInfo {
width:100%;
float:left;
text-align:center
}
#googleMap-links {
width:100%;
float:left
}
#googleMap-links a {
float:left;
margin:1.7% 1.7% 1.7% 0;
font-size:12px
}
.listing-info .right-side, .noRefine #listingsResults, .noRefine .results-paging {
float:left;
text-align:center;
width:100%
}
.listing-info .right-side img {
text-align:center;
width:65%
}
.headerBgBlock .Results {
text-align:center;
margin:0 auto
}
.head {
margin:0
}
.head h1 {
margin:20px 0 0!important;
text-align:left
}
#listings_per_page_form span {
width:100%;
float:left;
text-align:center
}
#listingsResults .evenrow .show-brief, #listingsResults .oddrow .show-brief {
margin:0;
width:100%
}
.select-box {
width:100%;
float:left
}
.noRefine .numberPerPage #listings_per_page_form, .noRefine .numberPerPage .listings_per_page_form {
width:20%
}
.after-quick-links {
float:left;
margin:50px 0 0;
width:98%
}
.quick_links {
float:left;
margin:50px 0 0;
width:90%!important;
display:block!important
}
#col-wide, .narrow-col {
width:100%;
float:left
}
#listing-details-menu {
padding:20px 13px
}
#col-wide {
margin:10px 0 0
}
#col-wide .displayFieldBlock h3 {
text-align:center;
margin:0
}
.compProfileTitle {
text-align:center;
font-size:18px
}
.narrow-col {
margin:0!important
}
.narrow-col .displayFieldBlock h3 {
width:30%;
text-align:left;
padding:5px 0 5px 8px
}
.narrow-col .displayField {
width:55%;
float:right
}
.sortable-column {
margin:0
}
.navigationItems {
color:#2c6073;
width:40%;
float:left;
text-align:left
}
.citylist {
display:none!important
}
.city_list_responsive {
display:block!important;
margin-top:0!important
}
.city_list_responsive>li {
margin:10px
}
.city_list_responsive>li a {
font-weight:700;
font-size:14px
}
#promotionCode {
margin:0 0 0 2%;
width:98%
}
#promotionCode .strong {
width:100%;
float:left
}
.continue-shopping {
float:left;
margin:0 6px
}
#shoppingCartTable tr th, td {
float:none!important;
width:auto!important
}
.printPage {
width:98%!important
}
.printRight, .printRight h1 {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
.ui-multiselect-menu ui-widget ui-widget-content ui-corner-all {
width:250px!important;
float:left
}
#notesForm textarea {
width:98%!important
}
.user_notifications {
width:100%;
float:left
}
.user_notifications>fieldset {
width:99%;
float:left;
margin:0
}
.notCheck, .notDesc {
margin-bottom:10px;
float:left
}
.notCheck {
margin-right:11px;
width:4%
}
.notDesc {
width:90%
}
.notDescText {
width:40%
}
.notif-date-days {
width:14%!important
}
#invoice-info {
float:left;
text-align:left
}
#invoice-logo {
float:left;
width:97%;
background-color:none;
text-align:center
}
#invoice-logo IMG {
width:85%;
text-align:center
}
#invoice-billto, #invoice-sendto {
width:96%;
float:left;
margin:0
}
#invoice-buttons {
width:98%;
float:left
}
#invoice-buttons input, textarea {
width:50%;
margin:3px 0
}
.site-map {
width:90%!important;
margin:0 auto
}
.site-map h1 {
margin-left:10px
}
.site-map table td {
float:left!important;
padding:10px!important;
text-align:left;
width:93%!important
}
#addListingForm {
float:left!important;
padding:25px 0!important;
margin:0!important
}
.add_listing_form {
width:100%!important;
float:left;
margin:0!important
}
.site-map table td p a {
text-align:left!important;
padding:10px!important;
display:inline-block
}
.site-map table td strong {
text-align:left!important;
font-size:16px!important
}
#exp_date {
float:left;
margin:10px 5px 0 0
}
#reports, #reports #quick-stats {
width:100%;
float:left
}
#reports-navigation a {
font-size:12px;
padding:10px 2%
}
#reports-navigation, #reports-navigation-in {
width:100%
}
#general-stats {
display:none
}
.general_states {
width:99%;
float:left;
display:block;
margin-left:1%
}
.general_states table tr th {
width:45%;
background-color:#585043;
color:#FFF
}
#job_stats {
display:none!important
}
.job_states table tbody tr th {
width:45%
}
.job_states th {
background-color:#585043
}
.job_states th a {
color:#fff
}
.main_saved_listings {
display:none
}
.job_states, .saved_listings_tbl, .view_questionnaire {
display:block!important
}
.saved_listings_tbl table tr th {
width:45%;
background-color:#585043;
color:#FFF
}
.job_states {
width:100%;
float:left;
margin-left:0
}
.view_questionnaire {
clear:both
}
#application-tracking-form .tableSearchResultApplications, .goggle_maps {
display:none!important
}
#applicationFilter {
width:100%!important;
margin-left:0;
float:left;
text-align:left
}
.action-form-buttons input[type=submit] {
margin-bottom:5px
}
#application-tracking-form .action-form-buttons input[type=submit] {
margin-right:0!important
}
.questionnaire fieldset .inputName {
width:auto
}
.questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
.questionnaire fieldset .inputField .inputString {
width:100%!important
}
#edit_questionnaire fieldset .inputName {
width:auto
}
#edit_questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questionnaire fieldset {
margin:0!important
}
#question_field fieldset .inputName {
width:auto
}
#question_field fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questions fieldset .inputName {
width:auto
}
#edit_questions fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#answers input[type=text], #answers select {
width:100%
}
.search_news {
width:92%;
float:left;
margin-left:5px
}
.search_news input[type=text] {
width:93%;
float:left
}
.brief_news, .newsPreview p, .newsPreview p>a, .small {
width:100%;
text-align:left!important;
float:left
}
.search_news input[type=submit] {
margin:5px 0;
float:left
}
.brief_news {
margin-top:0
}
.newsPreview p>a {
padding:0
}
.newsPreview p {
padding:0;
margin:0
}
.small {
padding:5px 0
}
#employers_selected_list input[id=remove_from_selected], #employers_selected_list input[id=move_to_selected] {
margin-bottom:5px;
padding:10px;
min-width:20px;
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg)
}
#employers_selected_list input[type=text] {
width:200px!important
}
#employers_selected_list input[id=find_button], #employers_selected_list input[id=set_employers_list] {
margin-bottom:0
}
#employers_selected_list input[id=move_to_selected] {
margin-right:5px
}
#employers_selected_list #move_btns {
text-align:center
}
#employers_selected_list #employers_for_select {
width:96%!important;
float:left;
height:90px
}
#employers_selected_list #employers_selected {
width:96%!important;
float:left;
height:60px
}
#messageBox .inputName, #messageBox>iframe, .ui-widget-overlay {
width:100%!important
}
#employers_selected_list table tr td {
clear:both!important;
float:left!important;
width:100%!important;
padding:5px
}
#tree-buttons>input {
margin:0
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.map_popup {
max-width:80%!important
}
.ui-dialog-content.ui-widget-content {
max-width:100%!important
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm .inputField input[type=text], #messageBox #loginForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm .inputField input[type=text], #messageBox #flagForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #flagForm .inputField textarea {
float:left;
width:90%!important
}
#messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:99%
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important;
width:95%!important
}
.inputField .player {
width:100%
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
float:left!important;
left:1%!important;
width:68%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-find-jobs {
float:left!important;
left:2%!important;
width:89.5%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-edit-listing {
float:left!important;
left:2%!important;
width:62.5%!important
}
#listings_per_page_form .sbOptions, #sort-by .sbOptions, .listings_per_page_form .sbOptions {
left:-2px;
top:28px!important;
width:100%!important
}
#listings_per_page_form .sbSelector, #sort-by .sbSelector, .listings_per_page_form .sbSelector {
padding:0
}
#ui-datepicker-div {
width:auto!important
}
ul.tree, ul.tree * {
font-size:13px
}
.quick_links_button {
display:block!important;
margin:0 0 0 1%
}
.quick_links_button .Pagging {
margin-bottom:10px
}
.after-quick-links {
display:none
}
.cke_chrome {
display:none!important
}
.inputField textarea {
width:95%;
visibility:visible!important;
display:block!important
}
.inputStringMoney {
width:40%!important
}
#custom .tree-input-field {
margin:0 0 10px;
width:52%
}
.instruction {
clear:both
}
.mt-count-available {
font-size:12px;
padding:21px 0 0 10px
}
.tree-available-count {
font-size:12px
}
.refine_results {
display:none
}
.view_refine {
display:block!important
}
#ajaxRefineSearch #refineResults .show-menu {
background:#fff;
border:1px solid #dedede;
border-radius:4px;
box-shadow:0 3px 3px -1px #dedede;
display:block;
padding:10px;
width:100%
}
h5.show-refine, h5.view_refine {
background-image:url(../refine_icon.png)
}
#refine_button, h5.show-refine, h5.view_refine {
background-repeat:no-repeat
}
.refine {
display:none
}
#blockInner .refine.show-menu {
display:block!important
}
#blockInner .refine.hide-menu {
display:none!important
}
h5.view_refine {
color:#ce4a14;
font-size:18px;
padding:5px 5px 10px;
width:97%;
text-align:left;
border:1px solid #ffdccd;
cursor:pointer;
background-position:98% -15%
}
h5.show-refine {
background-position:98% 100%
}
#refine_button {
background-image:url(../b_down_arrow.png);
width:25px;
margin-top:10px;
float:right;
height:10px;
cursor:pointer
}
#refineResults th {
color:#ce4a14;
font-size:18px;
padding:5px 0 10px;
display:none
}
.separate-div {
width:89%;
float:left
}
table tbody tr {
border-bottom:medium none
}
#application-settings input[type=button] {
margin-top:5px
}
.edit_questions_breadcrumbs {
margin:70px auto 0;
float:left
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:34%!important;
top:67%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:2%!important;
top:67%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:2%!important;
top:71.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:2%!important;
top:64.5%!important
}
.ui-dialog {
max-width:95%!important;
max-height:92vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:50vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:76vh!important;
overflow:auto
}



/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}











}
