@media all and (min-width:481px) and (max-width:568px) {
#mobile_menu, .inner, .mobile_menu {
position:absolute
}
.inner, .mobile_menu>ul>li {
margin-left:0
}
.app_table th a, .job_states th a, .mobile_menu ul li a, .table_div_title>a, table tr th a {
text-decoration:none
}
.inner {
width:225px;
padding:0;
float:left;
top:0
}
.nav ul {
display:none
}
#mobile_menu {
display:block!important;
width:40px;
height:40px;
cursor:pointer;
top:5px;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center;
left:-8px
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu {
top:40px
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left {
width:100%;
text-align:left
}
#mailchimp-nl-cont, .company_txt {
text-align:center
}
.header_left a img {
width:260px;
margin-top:15px
}
.header_right {
width:100%;
margin-top:5%
}
.login_section {
width:100%;
border-radius:8px
}
.chat_section {
width:100%
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:34%
}
#quickSearchForm input {
width:86%!important
}
.follow_section {
width:100%;
float:left
}
.follow_section h6 {
width:50%
}
.seeker {
margin-bottom:3%;
width:45%
}
.search_section {
width:55%
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
width:100%
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area {
margin-left:7%
}
.upload_area {
margin-left:3%
}
.visitor_area {
margin-left:4%
}
.job_area, .job_inner {
margin:0 auto
}
.job_area {
width:90%
}
.job_category, .job_inner {
width:100%
}
.job_category ul li {
width:40%
}
.job_location {
width:100%
}
.job_location ul li {
width:40%
}
.gallery_section {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.gallery_area ul li {
margin:0 4% 0 0;
width:21%
}
.gallery_area ul li img {
width:100%
}
.signup_area {
width:90%;
margin:0 auto
}
.signup_inner {
margin:0 auto;
width:100%
}
.content_right h1, .inputName {
text-align:left
}
#mailchimp-newsletter {
margin:0
}
.signup_back {
width:100%;
margin:0 0 3%
}
.signup_back input[type=text] {
width:87%!important
}
.jobspace_area {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.medium_col {
width:72%
}
.right_col {
height:160px;
width:43px
}
.membership_Section {
padding:5% 0
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%;
background-position:right bottom
}
.membership_inner ul li {
width:100%
}
.membership_inner ul li p {
float:left;
width:90%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:96%;
margin:0 0 20px 2%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.content_right {
width:100%;
float:left
}
.content_right h1>br {
display:none
}
.right_followus {
float:none
}
.video_area {
float:left
}
.feed_text {
float:left;
width:40%
}
.poll {
width:47%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
table tbody li {
margin:0
}
#grayBgBanner>.banner a img {
width:100%!important
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
.app_table table, .contacts_tbl table, .edit_saved_search_tbl table, .general_states table, .invoice_tbl table, .job_states table, .jobalerts_table table, .products_table table, .saved_listings_tbl table, .searchresultscompany_tbl table, .table_div table {
margin-bottom:10px
}
.inputField, .inputName, .inputReq {
float:left;
width:100%;
margin:0
}
#Location_Address, #Location_City, #Location_Country, #Location_State, #Location_ZipCode, .fieldset_inner>.inputName, .inputField {
width:100%;
float:left;
margin:5px 0
}
.inputField input[type=text], .inputField input[type=password] {
width:100%;
float:left;
padding:9px 0;
text-indent:5px
}
.inputButton {
float:left;
margin:0 19px 5px 5px;
width:auto
}
.double_breadcrumbs {
position:relative;
top:12px
}
.browse_right {
float:left;
margin:60px 0 0!important
}
.refine-fix {
margin:0;
position:relative
}
.results {
margin:25px 0 0!important;
float:none!important
}
.bread-crumb {
margin:0;
position:relative;
top:-10px
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
.app_table th, .edit_saved_search_tbl th, .job_states th {
background-color:#585043
}
.products {
margin:15px 0;
padding:10px 1%
}
.productInfo {
width:100%;
float:left;
margin:10px 0
}
.productInfo h3 {
width:100%;
float:left;
text-align:center
}
#shareThis {
width:98%;
float:left;
margin:0 0 0 10px
}
.productInfo p, .productLinks {
width:100%;
text-align:center
}
.productLinks {
padding:15px 0
}
.productLinks .button {
min-width:160px;
display:inline-block;
float:none
}
#productsList .oddrow {
width:98%
}
#adMargin {
float:left;
width:100%
}
#addListingForm .small_width {
width:78%!important
}
#addListingForm .inputName {
padding:0;
width:auto!important
}
#addListingForm .inputReq {
width:20%!important
}
#search_form fieldset {
clear:left;
margin:0!important
}
#search_form .inputField {
display:inline-block;
width:100%
}
.salary-abbr {
float:left;
width:63%
}
.salary-abbr input {
display:inline-block;
width:44%!important;
float:left
}
#DesiredSalary_list, #Salary_list {
float:right;
width:35%
}
.inputForm .searchList, .searchList, select {
width:100%;
margin-left:0
}
#adSpace {
width:100%;
float:left
}
#adSpace p {
padding:5px 10px
}
#loginForm fieldset {
margin:0!important;
float:left;
width:100%
}
#loginForm label {
float:left;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
#loginForm input[type=checkbox] {
float:left
}
#messageBox .inputField {
width:100%!important
}
#activation_date_notless, #activation_date_notmore {
width:144px!important;
float:none
}
#listingsResults, #loginForm .inputField input[type=text], #loginForm .inputField input[type=password], #refineResults-block, .results-paging {
float:left;
width:100%
}
#listingsResults {
margin:25px 0 0
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
.priorityListing .listing-title {
padding:15px 10px 12px 0
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
margin:5px 0 0
}
.company-fix .listingInfo {
width:100%;
float:left;
text-align:center
}
.separate-div .refine_button {
margin:0!important;
float:none!important
}
.contact-us {
width:100%;
float:left
}
.contact-us .fix {
width:100%!important;
padding:9px 0
}
.contact-us tbody tr td {
width:100%!important;
float:left!important;
font-size:11px!important;
padding:10px 0!important
}
.contact-us .email_input {
width:100%!important;
padding:9px 0
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
.my-account {
width:100%;
float:left;
margin-top:0;
padding:5px 0
}
.my-account ul {
width:100%;
float:left;
margin:0
}
.my-account ul li {
margin:.2%;
width:32%
}
.my-account-head {
margin:0 0 20px
}
#recentlyViewedJobs, #suggestedJobs {
margin:5px 0;
width:100%;
float:left
}
#adSpaceAccount {
float:left;
width:100%
}
#adSpaceAccount p img {
width:100%;
float:left
}
#adSpaceAccount p a img {
width:auto!important;
float:left
}
#adSpace p, #adSpaceAccount p {
display:none!important
}
.BreadCrumbs {
width:90%;
float:left
}
.BreadCrumbs p {
margin-left:5px
}
#recentlyViewedJobs table thead th, #suggestedJobs table thead th {
padding:10px 0
}
.tableLeft, .tableRight {
padding:5px!important
}
.pointedInListingInfo2 {
width:90%
}
#recentlyViewedJobs .rec-sug-comp-th, #suggestedJobs .rec-sug-comp-th {
width:40%!important
}
#edit_profile_form fieldset .inputName {
width:auto!important;
margin:0
}
#edit_profile_form fieldset .inputReq {
width:auto!important
}
#edit_profile_form fieldset .delete_profile_btn, #edit_profile_form fieldset .save_profile_btn {
width:auto!important;
margin-right:0!important
}
#Location_City input, #Location_Country select, #Location_State select, .fieldset_inner {
width:100%;
float:left
}
#edit_profile_form .fieldset_inner, .fieldset_inner {
margin:1px 0
}
#Location_City input {
margin:0
}
#Location_Address, #Location_ZipCode, #PhoneNumber {
width:100%;
float:left;
margin:5px 0
}
.bottum_submit {
float:left;
margin-top:-20px
}
.add_listing_form {
width:100%!important;
float:left;
margin:0!important
}
.srh_by_company {
width:100%;
float:left;
margin:5px 0!important
}
.bcField, .bcField input[type=text] {
width:100%
}
.SearchResultsCompany {
width:100%;
margin-left:0;
float:left
}
.searchresultscompany_tbl {
display:block!important
}
.company_main_tbl {
display:none!important
}
.topNavBar .numberPerPage {
margin:0!important
}
.topNavBar form {
margin:5px 0!important;
float:left
}
.SearchResultsCompany .topNavBar .pageNavigation {
margin:5px 0!important;
float:right;
padding:0
}
.SearchResultsCompany .topNavBar {
display:inline-block;
padding:15px 0
}
.app_table, .products_table {
display:block!important
}
.SearchResultsCompany .numberResults {
margin-right:5%
}
#listings_per_page_form .sbHolder, .listings_per_page_form .sbHolder {
width:64px;
text-align:center;
float:left
}
.results-paging .topNavBar {
padding:15px 0
}
.table_div_title {
font-size:12px;
padding:0 10px!important;
text-align:left;
width:45%!important
}
.app_table {
width:100%;
margin-left:0;
float:left
}
.app_table th {
width:45%
}
.app_table table tbody li {
margin:0 5px 5px 0
}
.app_table th a {
color:#FFF
}
.Applications_table {
display:none!important
}
.button_delete {
float:none!important;
margin:5px 0 10px;
text-align:left;
width:0!important
}
.view_questionnaire {
display:block!important;
clear:both
}
#application-tracking-form .tableSearchResultApplications, .form-notes #main_note_form {
display:none!important
}
.form-notes {
padding:0
}
.add_edit_note textarea {
width:95%!important
}
.form-notes #note_form, .saved_listings_tbl .saved_listings_note #note_form {
display:block!important
}
.saved_listings_tbl .saved_listings_note #main_note_form {
display:none!important
}
#table-alerts {
display:block!important;
width:100%!important
}
.link_space {
margin-bottom:4%;
display:inline-block
}
.jobalerts_table {
display:none!important
}
.saved-search-tbl {
display:block!important;
width:100%!important;
float:left;
margin-left:0
}
.edit_saved_search_tbl {
display:none!important;
float:left
}
.edit_saved_search_tbl th {
color:#FFF;
width:45%
}
#pm_send_form textarea {
width:100%;
margin-left:0;
height:100px!important;
visibility:visible!important;
display:block!important;
padding:0
}
.after-quick-links {
float:left;
margin:50px 0 0;
width:100%;
margin-left:0!important
}
.quick_links {
float:left;
margin:50px 0 0;
width:93%!important;
display:block!important
}
#displayListing #listingsResults {
float:left;
width:100%;
margin-left:0
}
.listingInfo {
margin-left:0;
width:100%!important
}
#col-wide, #displayListing #refineResults, .narrow-col {
width:100%;
float:left
}
#col-wide {
margin:10px 0 0
}
#col-wide .displayFieldBlock h3 {
text-align:center;
margin:0
}
#col-wide .displayField {
padding:0;
width:100%;
float:left;
margin:0
}
.compProfileTitle {
text-align:center;
font-size:18px
}
.narrow-col {
margin:0!important
}
.narrow-col .displayFieldBlock h3 {
width:30%;
text-align:left;
padding:5px 0 5px 8px
}
.narrow-col .displayField {
width:65%;
float:right
}
.sortable-column {
margin:0
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
.my_account_breadcrumb {
height:55px!important
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:230px!important
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
#contactInfo, .paymentButton {
margin-left:2%
}
.header-page {
float:right;
padding:6px 5px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
#instruction_DesiredSalary, #instruction_ZipCode, .header-user-menu span, .longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
#shoppingCartTable tbody tr {
border-top:1px dashed #8c8c8c
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
.listing_actions input.button, a.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important;
margin-right:9px!important
}
#notesForm_ textarea {
width:90%!important
}
.password-recovery input[type=text] {
width:70%
}
.password-recovery {
padding:0 0 0 1%
}
#contactInfo-in {
width:98%
}
#contactInfo {
width:97%
}
#note-block #notesForm textarea {
width:80%!important
}
#under-contact #note-block {
width:auto
}
.inputForm .searchList, .inputReq, .searchList, .searchList select {
width:100%
}
#cont-info-sendpm {
float:right!important
}
#edit-questions tbody tr {
border-bottom:1px dashed #8c8c8c
}
.fieldset_inner .inputName {
padding:0!important;
margin-bottom:0!important
}
.fieldset_inner .inputField {
margin-top:0!important
}
.inputReq {
float:left;
padding:0!important
}
.soc_reg_form {
margin-top:0;
margin-left:0
}
.job_seeker_regi {
text-align:left;
margin:0 2px!important
}
.invoice_tbl {
display:block!important;
margin-left:1%
}
#displayResults {
display:none!important
}
#registr-form fieldset .inputName {
width:auto!important;
margin:0
}
#registr-form fieldset .inputReq {
width:auto!important
}
.alert_form fieldset .alert_back_btn {
width:auto!important;
margin-right:0!important
}
.alert_form fieldset .alert_save_btn {
width:auto!important;
margin:0!important
}
.total_exp .searchIntegerLess {
float:left;
width:44%!important
}
.total_exp .searchIntegerMore {
float:left;
width:45%!important
}
.total_exp .to {
float:left;
padding:0 5px;
margin-top:10px!important
}
.cke_chrome {
visibility:inherit;
width:100%!important
}
#productDetails>table {
width:100%!important;
float:left
}
.product-button_responsive {
width:100%;
float:left;
margin:3px 0
}
.product-button_responsive input[type=button] {
width:180px;
float:left
}
#my-listings-table {
display:none
}
.table_div {
display:block!important
}
#job_stats, .main_table {
display:none!important
}
.table_div p a {
text-align:center!important
}
#listings_per_page_form {
float:left!important;
text-align:center;
margin:10px 5px 10px 0!important;
width:100%!important
}
#listings_per_page_form .listing_text {
margin-right:30px
}
.numberPerPage {
margin:0 0 20px 5px
}
.table_div table {
margin-bottom:10px
}
.numberPerPage_text {
float:left!important;
text-align:left;
width:100%
}
.formtable tbody tr td {
float:left!important;
width:86%
}
#main-div-after>form {
float:left;
margin-left:0;
width:99%
}
.listing_search_form {
width:100%;
float:left;
margin:0!important
}
#activation_date_notmore, #search_listing_form #activation_date_notless {
width:38%!important
}
.job_states table tbody tr th {
width:45%
}
.job_states {
width:100%;
display:block!important;
margin-left:0
}
.job_states th a {
color:#fff
}
.main_saved_listings {
display:none
}
.contacts_tbl, .saved_listings_tbl {
display:block!important
}
.saved_listings_tbl table tr th {
width:45%;
background-color:#585043;
color:#FFF
}
#newsCategory {
width:92%;
margin:5px 1%;
float:left
}
.questionnaire fieldset {
width:98%!important;
text-align:left!important;
clear:left
}
#edit_questions, #question_field fieldset {
width:100%!important;
float:left!important;
margin:0!important
}
#answers input[type=text], #answers select {
width:100%
}
.questionnaire fieldset .inputName {
width:auto
}
.questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
.questionnaire p {
margin-left:0!important
}
.questionnaire fieldset .inputField .inputString {
width:100%!important
}
#edit_questionnaire fieldset {
margin:0!important
}
#edit_questionnaire fieldset .inputName {
width:auto
}
#edit_questionnaire fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questionnaire p {
margin-left:1%!important
}
#question_field fieldset .inputName {
width:auto
}
#question_field fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#edit_questions fieldset .inputName {
width:auto
}
#edit_questions fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#sub-accounts fieldset .inputName {
width:auto
}
#sub-accounts fieldset .inputReq {
width:auto;
padding-top:7px!important
}
#sub-accounts fieldset .inputField input[type=password] {
width:99%!important
}
.citylist, .main_contacts_tbl {
display:none!important
}
.contacts_tbl table {
border:1px solid #000!important
}
.invoice_srch_frm {
margin:0!important;
clear:left
}
#date_notless, #date_notmore {
margin-bottom:5px;
width:87%!important
}
.invoice_srch_frm .inputField img {
float:left
}
.sbOptions {
width:auto!important;
margin-right:5px!important;
right:-13px
}
#cke_form_message {
float:left;
width:97%!important
}
.reply {
margin:2px 0
}
.ui-multiselect {
width:100%!important;
min-height:36px;
padding:7px 0 0!important
}
.userInfo {
width:100%;
float:left
}
.compProfileInfo, .compProfileInfo>.text-center {
width:100%;
float:left;
text-align:center
}
.compProfileInfo>.text-center img {
width:45%;
text-align:center
}
.compProfileInfo>.strong, .noRefine .listingInfo {
width:100%;
float:left;
text-align:center
}
#googleMap-links {
width:100%;
float:left
}
#googleMap-links a {
float:left;
margin:1.7% 1.7% 1.7% 0;
font-size:12px
}
.listing-info .right-side, .noRefine #listingsResults, .noRefine .results-paging {
float:left;
text-align:center;
width:100%
}
.listing-info .right-side img {
text-align:center;
width:45%
}
.headerBgBlock .Results {
text-align:center;
margin:0 auto
}
.head {
margin:0
}
.head h1 {
margin:10px 0 0!important;
text-align:left
}
#listings_per_page_form span {
width:100%;
float:left;
text-align:center
}
#listingsResults .evenrow .show-brief, #listingsResults .oddrow .show-brief {
margin:0;
width:100%
}
.noRefine .numberPerPage #listings_per_page_form, .noRefine .numberPerPage .listings_per_page_form {
width:20%
}
.topNavBar .select-box {
float:left;
width:100%
}
.results-paging .topNavBar .numberResults {
width:100%
}
.results-paging .topNavBar .numberResults .sorting {
float:left;
width:100%
}
.results-paging .topNavBar .numberResults .sorting>span {
clear:both!important;
float:left;
width:100%;
text-align:left
}
.numberPerPage.select-box>span {
float:none
}
.noRefine .results-paging .topNavBar .numberPerPage span {
float:left!important;
text-align:left!important
}
.city_list_responsive {
display:block!important;
margin-top:0!important
}
.city_list_responsive>li {
margin:10px
}
.city_list_responsive>li a {
font-weight:700;
font-size:14px
}
#promotionCode {
margin:0;
width:100%
}
.continue-shopping {
float:left;
margin:0
}
.continue-shopping input[type"button"] {
margin-right:20px!important
}
.printPage {
width:98%!important
}
.printRight, .printRight h1, .user_notifications {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
.user_notifications>fieldset {
width:99%;
float:left;
margin:0
}
.notCheck, .notDesc {
margin-bottom:10px;
float:left
}
.notCheck {
margin-right:11px;
width:4%
}
.notDesc {
width:90%
}
.notDescText {
width:40%
}
.notif-date-days {
width:14%!important
}
#invoice-info {
float:left;
text-align:left
}
#invoice-logo {
float:left;
width:97%;
background-color:none;
text-align:center
}
#invoice-logo IMG {
width:85%;
text-align:center
}
#invoice-billto, #invoice-sendto {
width:96%;
float:left;
margin:0
}
.site-map {
width:90%!important;
margin:0 auto
}
.site-map h1 {
margin-left:6px
}
.site-map table td {
width:30%;
text-align:left;
float:left
}
#addListingForm {
padding:25px 0!important
}
#exp_date {
float:left;
margin:10px 5px 0 0
}
.site-map table td p a {
text-align:left!important;
padding:10px 0!important
}
.site-map table td strong {
text-align:left!important;
font-size:16px!important
}
#addListingForm .displayDate, #editListingForm .displayDate {
width:89%!important
}
#editListingForm .inputName {
width:auto!important;
padding:0
}
#editListingForm .inputReq {
width:auto!important
}
.small_width {
width:78%!important;
clear:both
}
.page_button {
display:inline-block!important;
width:97%
}
#reports-navigation, #reports-navigation-in, .complex {
width:100%
}
.complex {
border-bottom:1px dotted #727272;
display:block;
padding:10px 0
}
.instruction .instr_block {
float:left
}
.instr_arrow {
left:-3px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:36px;
margin-top:10px
}
.instruction .instr_icon {
clear:both
}
#addListingForm fieldset:last-child .button {
margin-right:5px
}
#reports, #reports #quick-stats {
width:100%;
float:left
}
#reports-navigation a {
padding:10px 7%
}
.newsPreview p, .newsPreview p>a {
padding:0;
text-align:left!important
}
#general-stats {
display:none
}
.general_states {
width:98%;
float:left;
display:block;
margin-left:1%
}
.empty, .refine_results {
display:none
}
.general_states table tr th {
background-color:#585043;
color:#FFF
}
.general_states table tbody tr th {
width:45%
}
.search_news {
width:92%;
float:left;
margin-left:5px
}
.search_news input[type=text] {
width:93%;
float:left
}
.brief_news, .newsPreview p, .newsPreview p>a, .small {
width:100%;
float:left
}
.search_news input[type=submit] {
margin:5px 0;
float:left
}
.brief_news {
text-align:left!important;
margin-top:0
}
.newsPreview p {
margin:0
}
.small {
text-align:left!important;
padding:5px 0
}
#applicationFilter {
width:98%!important;
margin-left:1%;
float:left;
text-align:left
}
#employers_selected_list input[type=text] {
width:240px!important
}
#employers_selected_list input[id=move_to_selected], #employers_selected_list input[id=remove_from_selected] {
margin-bottom:5px;
padding:10px;
min-width:20px;
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg)
}
#employers_selected_list #move_btns {
text-align:center
}
#employers_selected_list #employers_for_select {
width:96%!important;
float:left;
height:90px
}
#employers_selected_list #employers_selected {
width:96%!important;
float:left;
height:60px
}
#employers_selected_list table tr td {
clear:both;
float:left;
width:100%;
padding:5px
}
.ui-widget-overlay {
width:100%!important
}
.ui-widget {
max-width:100%!important;
float:left
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
float:left!important;
left:3%!important;
width:72%!important
}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-menu-find-jobs {
float:left!important;
left:3%!important;
width:89.5%!important
}
#listings_per_page_form .sbOptions, #sort-by .sbOptions, .listings_per_page_form .sbOptions {
left:-2px;
top:28px!important;
width:100%!important
}
#listings_per_page_form .sbSelector, #sort-by .sbSelector, .listings_per_page_form .sbSelector {
padding:0
}
#messageBox #loginForm fieldset .inputField, #messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm .inputField input[type=text], #messageBox #loginForm .inputField input[type=password] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputField, #messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm .inputField input[type=text], #messageBox #flagForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm fieldset .inputField, #messageBox #tellFriendForm fieldset .inputName {
float:left;
width:99%
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%
}
#messageBox .inputName {
font-size:13px;
width:100%!important
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important;
width:100%!important
}
#messageBox>iframe {
width:100%!important
}
.mt-count-available {
font-size:12px;
padding:15px 0 0 10px
}
#custom .tree-input-field {
margin:0 0 10px;
width:52%
}
.selectCurrency {
margin:0 0 0 8px;
width:45%!important
}
.inputStringMoney {
width:40%!important
}
table tbody tr {
border-bottom:medium none
}
#application-settings input[type=button] {
margin-top:5px
}
.view_refine {
display:block!important
}
#ajaxRefineSearch #refineResults .show-menu {
background:#fff;
border:1px solid #dedede;
border-radius:4px;
box-shadow:0 3px 3px -1px #dedede;
display:block;
padding:10px;
width:100%
}
h5.show-refine, h5.view_refine {
background-image:url(../refine_icon.png)
}
#refine_button, h5.show-refine, h5.view_refine {
background-repeat:no-repeat
}
.refine {
display:none
}
#blockInner .refine.show-menu {
display:block!important
}
#blockInner .refine.hide-menu {
display:none!important
}
h5.view_refine {
color:#ce4a14;
font-size:18px;
padding:5px 5px 10px;
width:97%;
text-align:left;
border:1px solid #ffdccd;
cursor:pointer;
background-position:98% -15%
}
h5.show-refine {
background-position:98% 100%
}
#refine_button {
background-image:url(../b_down_arrow.png);
width:25px;
margin-top:10px;
float:right;
height:10px;
cursor:pointer
}
#refineResults th {
color:#ce4a14;
font-size:18px;
padding:5px 0 10px;
display:none
}
.separate-div {
width:89%;
float:left
}
.goggle_maps {
display:none!important
}
.quick_links_button {
display:block!important;
margin:0
}
.quick_links_button .Pagging {
margin-bottom:10px
}
.after-quick-links {
display:none
}
.cke_chrome {
display:none!important
}
.inputField textarea {
width:95%;
visibility:visible!important;
display:block!important
}
.edit_questions_breadcrumbs {
margin:55px auto 0;
float:left
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:51%!important;
top:61%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:4%!important;
top:61%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:36%!important;
top:66%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:36%!important;
top:59%!important
}
.ui-dialog {
max-width:95%!important;
max-height:92vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:50vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:76vh!important;
overflow:auto
}




/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}











}
