@media all and (min-width:801px) and (max-width:959px) {
.inner {
margin-left:0;
width:225px;
padding:0;
top:0;
float:left;
position:absolute;
left:20px
}
#loginForm label {
float:right;
margin-left:5px;
background-image:none;
display:block;
position:relative;
top:auto;
width:auto
}
.nav ul {
display:none
}
#mobile_menu {
display:block!important;
width:40px;
height:40px;
cursor:pointer;
position:absolute;
background-image:url(../menu_img.png);
background-size:30px;
background-repeat:no-repeat;
background-position:center;
top:5px
}
.mobile_menu ul .product_active {
visibility:visible
}
.mobile_menu {
position:absolute;
top:40px;
margin-left:6px
}
.mobile_menu>ul>li>a {
padding:4px 0;
width:70%
}
.mobile_menu ul li a {
color:#777;
padding:15px 11px;
float:left;
text-decoration:none
}
.mobile_menu ul li a:hover {
color:#f9a51a
}
.mobile_menu ul li {
display:block;
float:left;
width:100%;
text-align:left;
background:#222
}
.mobile_menu>ul>li {
margin-left:0
}
.mobile_menu ul li ul {
visibility:hidden;
display:none
}
.mobile_menu ul li:nth-child(2) {
background-image:url(../plus.png);
background-repeat:no-repeat;
background-size:12px;
background-position:93% 19px
}
.mobile_menu ul li ul li:nth-child(2) {
background-image:none!important
}
.mobile_menu ul .product_active {
display:block;
position:relative;
background-image:url(../active_img.jpg)!important;
background-repeat:no-repeat;
background-size:12px;
background-position:93% 25px!important
}
.mobile_menu ul .product_active ul {
visibility:visible;
display:block;
position:relative
}
.mobile_menu>ul li ul li {
display:block;
float:none;
width:100%;
border:none;
padding-left:0
}
.mobile_menu>ul li ul li a {
font-size:14px;
cursor:pointer;
display:block;
width:100%;
text-decoration:none;
padding:10px 11px;
text-indent:20px
}
.mobile_menu>ul li ul {
left:0;
top:2px
}
.header_area {
width:90%;
margin:0 auto
}
.header_left a img {
width:260px
}
.header_right {
width:70%
}
.login_section {
width:220px
}
.chat_section {
width:245px
}
.chat_section ul li {
margin-top:20px
}
.banner_area {
width:90%;
margin:0 auto
}
.banner_inner {
float:left;
padding:5% 0;
width:100%
}
.drop_down {
width:41%
}
.follow_section {
width:100%;
float:left
}
.company_area {
width:90%;
margin:0 auto
}
.company_txt {
text-align:center;
width:100%
}
.view_section {
width:90%;
margin:0 auto
}
.view_area {
float:left;
width:100%
}
.current_area, .mjs_area, .paeg_area, .upload_area, .visitor_area {
margin-left:4%
}
.gallery_section, .job_area, .job_inner {
width:90%;
margin:0 auto
}
.gallery_area {
width:100%
}
.jobspace_area, .signup_area, .signup_inner {
width:90%;
margin:0 auto
}
.jobspace_inner {
margin:0 auto;
width:100%
}
.testimonial_area {
width:90%;
margin:0 auto
}
.testimonial_inner {
margin:0 auto;
width:100%
}
.membership_area {
width:90%;
margin:0 auto
}
.membership_inner {
width:100%
}
.content_area {
width:90%
}
.content_inner, .content_left {
width:100%
}
.content_left span {
width:94%
}
.blog_Sectiom {
height:200px;
width:95%
}
.blogDate {
width:95%!important
}
.blogPost span {
width:99%
}
.content_right {
width:100%;
float:left
}
.content_right h1 {
text-align:left
}
.content_right h1>br {
display:none
}
.right_followus {
float:none
}
#adMargin, .banner, .feed_text, .product-button_responsive, .products, .video_area, select {
float:left;
}
.banner{ width:100%;}
.feed_text {
width:50%
}
.poll {
width:27%;
padding:4%
}
.bottom_area, .footer_area {
width:90%;
margin:0 auto
}
.bottom_area {
height:100px
}
.innerdiv_forall {
width:90%!important;
margin:0 auto!important
}
.products {
width:98%
}
.product-button_responsive {
margin:0
}
#productsList .evenrow {
background:#f4f5ed;
width:98%
}
.products {
margin:15px 0;
padding:10px 1%
}
.productInfo {
width:auto
}
.topNavBar {
padding:15px 0
}
#grayBgBanner .banner a img {
width:100%!important;
float:left
}
.contact-us textarea {
width:100%!important;
padding:10px 0
}
#adMargin {
width:62%
}
#adMargin fieldset {
margin:0 0 10px
}
#adSpace {
float:right;
width:35%
}
#adSpace p a img {
width:auto
}
#adSpace p img {
width:100%
}
.inputName {
width:30%
}
select {
width:auto;
color:#484846;
margin-left:0
}
.app-tracking #applicationFilter select {
float:none!important
}
.salary-abbr {
width:60%;
float:left
}
.salary-abbr input {
display:inline-block;
width:38%!important;
float:left
}
.add_listing_form {
width:100%!important;
float:left
}
#displayListing #listingsResults {
float:left;
width:65%
}
.emp-header, .emp-header-in, .index-header-bg, .index-header-bg-in {
height:180px!important
}
.header-page {
float:right;
padding:6px 10px;
width:96%
}
.user-menu_responsive {
text-align:center;
float:right
}
.header-user-menu span, .longtext-60.tooltip-counter-0 {
float:left
}
.header-user-menu.user-menu_responsive>br {
display:none
}
#shoppingCart {
width:auto;
float:left;
text-align:CENTER;
margin-top:0
}
#langSwitcherForm {
margin-right:0!important
}
.narrow-col .displayFieldBlock h3 {
text-align:left;
width:39%
}
.actions-with-selected {
margin:0 0 20px;
padding:25px 0;
width:100%
}
a.button, input.button, input[type=submit], input[type=reset], input[type=button] {
text-align:center!important
}
.instruction {
clear:left!important
}
.instruction .instr_icon {
float:left!important
}
.instr_arrow {
left:-2px;
position:relative;
z-index:20;
float:left;
margin-top:10px
}
.instruction .instr_cont {
position:absolute;
left:57px;
margin-top:10px
}
.main_contacts_tbl tbody tr td input[type=button] {
padding:10px
}
.commentSmall {
clear:left
}
.phrases-per-page.perPage {
float:right
}
.double_breadcrumbs {
position:relative;
top:12px
}
.browse_right {
float:left;
margin:60px 0 0!important
}
.bread-crumb, .refine-fix {
margin:0;
position:relative
}
.bread-crumb {
top:-10px
}
.my-account-head {
margin:0 0 20px
}
.my-account {
margin-top:0
}
#adSpaceAccount {
float:left;
width:38%
}
#adSpaceAccount p a, #adSpaceAccount p img {
width:100%;
float:left
}
#adSpaceAccount p a img {
width:auto;
float:left
}
#recentlyViewedJobs {
float:left;
width:50%;
margin:5px 0
}
.ModResults {
display:inline-block;
vertical-align:top;
margin:-23px 5px 0
}
.my-account-head h1 {
padding:0
}
.refine_button {
float:none!important;
margin:0!important
}
#loginForm, #registr-form {
margin-left:5px
}
#edit_profile_form fieldset .inputField input[type=password] {
width:350px!important
}
.cke_chrome {
width:100%!important
}
#sub-accounts fieldset .inputField input[type=password] {
width:350px!important
}
.soc_reg_form {
margin-top:0
}
.product-detail-button {
float:left;
margin:5px 0
}
#pm_form>.button {
width:auto!important
}
.productLinks .button {
min-width:160px;
display:inline-block;
float:none
}
#addToCart {
margin-top:5px
}
#productDetails>table {
width:98%!important;
float:left
}
#productDetails>h1 {
width:90%!important;
float:left;
margin:25px 0
}
#productDetails>p, hr {
width:98%!important;
float:left;
margin:5px
}
.sbOptions {
width:auto!important;
margin-right:5px!important;
right:-13px
}
.noRefine .listingInfo {
float:right;
width:70%!important
}
.topNavBar .numberPerPage #listings_per_page_form, .topNavBar .numberPerPage .listings_per_page_form {
float:none;
width:0
}
.userInfo {
float:left;
width:185px!important
}
.compProfileInfo {
float:left;
width:auto!important
}
#listingsResults, #refineResults-block, .results-paging {
width:100%;
float:left
}
#listingsResults {
margin:25px 0 0
}
#listingsResults .evenrow .listing-title, #listingsResults .oddrow .listing-title {
padding:0 1px 10px 5px
}
.priorityListing .listing-title {
padding:15px 10px 12px 0
}
#map {
height:100vh;
margin:0
}
#refineResults-block {
margin:5px 0 0
}
.company-fix .listingInfo {
width:70%!important;
float:left;
text-align:left
}
.listingInfo {
float:right
}
#listing-details-menu {
float:right;
margin:0;
width:90%
}
#promotionCode {
margin:0;
width:100%
}
.continue-shopping, .continue-shopping input[type=button] {
float:left;
margin:0 2px
}
.printPage {
width:98%!important
}
.printRight, .printRight h1 {
width:100%;
float:left
}
.printRight h1 {
margin:5px 0
}
.printLeft {
float:left
}
#col-wide {
float:left;
width:60%
}
#col-wide .displayField {
margin:2px 0 22px
}
.company-info-right {
width:35%!important
}
.site-map {
width:90%!important;
margin:0 auto
}
.site-map h1 {
margin-left:6px
}
.site-map table td {
width:30%;
text-align:left;
float:left
}
#addListingForm {
float:left!important
}
.site-map table td p a {
text-align:left!important
}
.site-map table td strong {
text-align:left!important;
font-size:16px!important
}
.page_button {
display:inline-block!important;
width:100%
}
.employer {
width:100%!important;
float:left
}
.link_space {
margin-bottom:3%;
display:inline-block
}
#employers_selected_list input[type=text] {
width:240px!important
}
#employers_selected_list #employers_for_select {
width:230px!important
}
#employers_selected_list #employers_selected {
width:200px!important
}
.ui-widget-overlay {
width:100%!important
}
#messageBox #loginForm fieldset .inputField input[type=checkbox], #messageBox #loginForm fieldset .inputField label {
float:left!important
}
#messageBox #loginForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #loginForm fieldset .inputField {
float:left;
width:100%;
text-align:left!important
}
#messageBox #loginForm .inputField input[type=password], #messageBox #loginForm .inputField input[type=text] {
float:left;
width:99%
}
#messageBox #flagForm fieldset .inputName {
float:left;
width:100%
}
#messageBox #flagForm fieldset .inputField {
float:left;
width:100%;
text-align:left!important
}
#messageBox #flagForm .inputField input[type=password], #messageBox #flagForm .inputField input[type=text], #messageBox #tellFriendForm .inputField input[type=password], #messageBox #tellFriendForm .inputField input[type=text], #messageBox #tellFriendForm fieldset .inputName {
width:99%;
float:left
}
#messageBox #tellFriendForm fieldset .inputField {
float:left;
width:99%;
text-align:left!important
}
#messageBox #tellFriendForm .inputField textarea {
float:left;
width:90%
}
#messageBox>iframe {
width:100%!important
}
#pm_send_form fieldset .inputField .cke_browser_gecko {
display:none!important
}
#pm_send_form fieldset .inputField textarea {
display:block!important;
height:150px!important;
visibility:visible!important;
width:95%
}
.ui-dialog-content.ui-widget-content {
max-width:100%!important
}
#messageBox .inputName {
width:100%!important
}
#reason-to-unregister-form fieldset .inputField textarea {
height:100px!important
}
#loginForm input[type=text], input[type=password] {
width:350px!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_right {
left:52%!important;
top:50%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.active_calender_left {
left:30%!important;
top:50%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notmore_right {
left:51%!important;
top:47.5%!important
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.date_notless_left {
left:30%!important;
top:47.5%!important
}
.ui-dialog {
max-width:97%!important;
max-height:95vh!important;
overflow:scroll
}
#tree-block {
margin:10px 0;
max-height:59vh!important
}
#tree-block ul li ul {
position:inherit!important
}
.ui-dialog-content {
max-height:80vh!important;
overflow:auto
}



/********* xtra produst page css*************/



.img_ad {    overflow: hidden;    position: relative !important;}
#google_image_div{    overflow: hidden; float:left;    position: relative !important;}
#div-gpt-ad-1473385395700-0{ height:auto !important; margin:0 auto;}

.banner-right{    overflow: ;    position: relative !important;}

              
#google_ads_iframe_/6412109/MJS-BigBanner_0{}

iframe{ width:100% !important;}

#div-gpt-ad-1448830214850-0 { width:100% !important;}
.img_ad{ width:100% !important;}

#grayBgBanner .banner{ float:none !important;}



}
